/*
Mistral AI API

Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mistral

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// BetaWorkflowsExecutionsAPIService BetaWorkflowsExecutionsAPI service
type BetaWorkflowsExecutionsAPIService service

type ApiBatchCancelWorkflowExecutionsV1WorkflowsExecutionsCancelPostRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsExecutionsAPIService
	batchExecutionBody *BatchExecutionBody
}

func (r ApiBatchCancelWorkflowExecutionsV1WorkflowsExecutionsCancelPostRequest) BatchExecutionBody(batchExecutionBody BatchExecutionBody) ApiBatchCancelWorkflowExecutionsV1WorkflowsExecutionsCancelPostRequest {
	r.batchExecutionBody = &batchExecutionBody
	return r
}

func (r ApiBatchCancelWorkflowExecutionsV1WorkflowsExecutionsCancelPostRequest) Execute() (*BatchExecutionResponse, *http.Response, error) {
	return r.ApiService.BatchCancelWorkflowExecutionsV1WorkflowsExecutionsCancelPostExecute(r)
}

/*
BatchCancelWorkflowExecutionsV1WorkflowsExecutionsCancelPost Batch Cancel Workflow Executions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBatchCancelWorkflowExecutionsV1WorkflowsExecutionsCancelPostRequest
*/
func (a *BetaWorkflowsExecutionsAPIService) BatchCancelWorkflowExecutionsV1WorkflowsExecutionsCancelPost(ctx context.Context) ApiBatchCancelWorkflowExecutionsV1WorkflowsExecutionsCancelPostRequest {
	return ApiBatchCancelWorkflowExecutionsV1WorkflowsExecutionsCancelPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BatchExecutionResponse
func (a *BetaWorkflowsExecutionsAPIService) BatchCancelWorkflowExecutionsV1WorkflowsExecutionsCancelPostExecute(r ApiBatchCancelWorkflowExecutionsV1WorkflowsExecutionsCancelPostRequest) (*BatchExecutionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BatchExecutionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsExecutionsAPIService.BatchCancelWorkflowExecutionsV1WorkflowsExecutionsCancelPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/executions/cancel"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.batchExecutionBody == nil {
		return localVarReturnValue, nil, reportError("batchExecutionBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.batchExecutionBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBatchTerminateWorkflowExecutionsV1WorkflowsExecutionsTerminatePostRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsExecutionsAPIService
	batchExecutionBody *BatchExecutionBody
}

func (r ApiBatchTerminateWorkflowExecutionsV1WorkflowsExecutionsTerminatePostRequest) BatchExecutionBody(batchExecutionBody BatchExecutionBody) ApiBatchTerminateWorkflowExecutionsV1WorkflowsExecutionsTerminatePostRequest {
	r.batchExecutionBody = &batchExecutionBody
	return r
}

func (r ApiBatchTerminateWorkflowExecutionsV1WorkflowsExecutionsTerminatePostRequest) Execute() (*BatchExecutionResponse, *http.Response, error) {
	return r.ApiService.BatchTerminateWorkflowExecutionsV1WorkflowsExecutionsTerminatePostExecute(r)
}

/*
BatchTerminateWorkflowExecutionsV1WorkflowsExecutionsTerminatePost Batch Terminate Workflow Executions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBatchTerminateWorkflowExecutionsV1WorkflowsExecutionsTerminatePostRequest
*/
func (a *BetaWorkflowsExecutionsAPIService) BatchTerminateWorkflowExecutionsV1WorkflowsExecutionsTerminatePost(ctx context.Context) ApiBatchTerminateWorkflowExecutionsV1WorkflowsExecutionsTerminatePostRequest {
	return ApiBatchTerminateWorkflowExecutionsV1WorkflowsExecutionsTerminatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BatchExecutionResponse
func (a *BetaWorkflowsExecutionsAPIService) BatchTerminateWorkflowExecutionsV1WorkflowsExecutionsTerminatePostExecute(r ApiBatchTerminateWorkflowExecutionsV1WorkflowsExecutionsTerminatePostRequest) (*BatchExecutionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BatchExecutionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsExecutionsAPIService.BatchTerminateWorkflowExecutionsV1WorkflowsExecutionsTerminatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/executions/terminate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.batchExecutionBody == nil {
		return localVarReturnValue, nil, reportError("batchExecutionBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.batchExecutionBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCancelWorkflowExecutionV1WorkflowsExecutionsExecutionIdCancelPostRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsExecutionsAPIService
	executionId string
}

func (r ApiCancelWorkflowExecutionV1WorkflowsExecutionsExecutionIdCancelPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.CancelWorkflowExecutionV1WorkflowsExecutionsExecutionIdCancelPostExecute(r)
}

/*
CancelWorkflowExecutionV1WorkflowsExecutionsExecutionIdCancelPost Cancel Workflow Execution

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiCancelWorkflowExecutionV1WorkflowsExecutionsExecutionIdCancelPostRequest
*/
func (a *BetaWorkflowsExecutionsAPIService) CancelWorkflowExecutionV1WorkflowsExecutionsExecutionIdCancelPost(ctx context.Context, executionId string) ApiCancelWorkflowExecutionV1WorkflowsExecutionsExecutionIdCancelPostRequest {
	return ApiCancelWorkflowExecutionV1WorkflowsExecutionsExecutionIdCancelPostRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
func (a *BetaWorkflowsExecutionsAPIService) CancelWorkflowExecutionV1WorkflowsExecutionsExecutionIdCancelPostExecute(r ApiCancelWorkflowExecutionV1WorkflowsExecutionsExecutionIdCancelPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsExecutionsAPIService.CancelWorkflowExecutionV1WorkflowsExecutionsExecutionIdCancelPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/executions/{execution_id}/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetWorkflowExecutionHistoryV1WorkflowsExecutionsExecutionIdHistoryGetRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsExecutionsAPIService
	executionId string
	decodePayloads *bool
}

func (r ApiGetWorkflowExecutionHistoryV1WorkflowsExecutionsExecutionIdHistoryGetRequest) DecodePayloads(decodePayloads bool) ApiGetWorkflowExecutionHistoryV1WorkflowsExecutionsExecutionIdHistoryGetRequest {
	r.decodePayloads = &decodePayloads
	return r
}

func (r ApiGetWorkflowExecutionHistoryV1WorkflowsExecutionsExecutionIdHistoryGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetWorkflowExecutionHistoryV1WorkflowsExecutionsExecutionIdHistoryGetExecute(r)
}

/*
GetWorkflowExecutionHistoryV1WorkflowsExecutionsExecutionIdHistoryGet Get Workflow Execution History

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiGetWorkflowExecutionHistoryV1WorkflowsExecutionsExecutionIdHistoryGetRequest
*/
func (a *BetaWorkflowsExecutionsAPIService) GetWorkflowExecutionHistoryV1WorkflowsExecutionsExecutionIdHistoryGet(ctx context.Context, executionId string) ApiGetWorkflowExecutionHistoryV1WorkflowsExecutionsExecutionIdHistoryGetRequest {
	return ApiGetWorkflowExecutionHistoryV1WorkflowsExecutionsExecutionIdHistoryGetRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *BetaWorkflowsExecutionsAPIService) GetWorkflowExecutionHistoryV1WorkflowsExecutionsExecutionIdHistoryGetExecute(r ApiGetWorkflowExecutionHistoryV1WorkflowsExecutionsExecutionIdHistoryGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsExecutionsAPIService.GetWorkflowExecutionHistoryV1WorkflowsExecutionsExecutionIdHistoryGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/executions/{execution_id}/history"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.decodePayloads != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "decode_payloads", r.decodePayloads, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "decode_payloads", defaultValue, "form", "")
		r.decodePayloads = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWorkflowExecutionTraceEventsRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsExecutionsAPIService
	executionId string
	mergeSameIdEvents *bool
	includeInternalEvents *bool
}

func (r ApiGetWorkflowExecutionTraceEventsRequest) MergeSameIdEvents(mergeSameIdEvents bool) ApiGetWorkflowExecutionTraceEventsRequest {
	r.mergeSameIdEvents = &mergeSameIdEvents
	return r
}

func (r ApiGetWorkflowExecutionTraceEventsRequest) IncludeInternalEvents(includeInternalEvents bool) ApiGetWorkflowExecutionTraceEventsRequest {
	r.includeInternalEvents = &includeInternalEvents
	return r
}

func (r ApiGetWorkflowExecutionTraceEventsRequest) Execute() (*WorkflowExecutionTraceEventsResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowExecutionTraceEventsExecute(r)
}

/*
GetWorkflowExecutionTraceEvents Get Workflow Execution Trace Events

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiGetWorkflowExecutionTraceEventsRequest
*/
func (a *BetaWorkflowsExecutionsAPIService) GetWorkflowExecutionTraceEvents(ctx context.Context, executionId string) ApiGetWorkflowExecutionTraceEventsRequest {
	return ApiGetWorkflowExecutionTraceEventsRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return WorkflowExecutionTraceEventsResponse
func (a *BetaWorkflowsExecutionsAPIService) GetWorkflowExecutionTraceEventsExecute(r ApiGetWorkflowExecutionTraceEventsRequest) (*WorkflowExecutionTraceEventsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowExecutionTraceEventsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsExecutionsAPIService.GetWorkflowExecutionTraceEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/executions/{execution_id}/trace/events"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.mergeSameIdEvents != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "merge_same_id_events", r.mergeSameIdEvents, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "merge_same_id_events", defaultValue, "form", "")
		r.mergeSameIdEvents = &defaultValue
	}
	if r.includeInternalEvents != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_internal_events", r.includeInternalEvents, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_internal_events", defaultValue, "form", "")
		r.includeInternalEvents = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWorkflowExecutionTraceOtelRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsExecutionsAPIService
	executionId string
}

func (r ApiGetWorkflowExecutionTraceOtelRequest) Execute() (*WorkflowExecutionTraceOTelResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowExecutionTraceOtelExecute(r)
}

/*
GetWorkflowExecutionTraceOtel Get Workflow Execution Trace Otel

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiGetWorkflowExecutionTraceOtelRequest
*/
func (a *BetaWorkflowsExecutionsAPIService) GetWorkflowExecutionTraceOtel(ctx context.Context, executionId string) ApiGetWorkflowExecutionTraceOtelRequest {
	return ApiGetWorkflowExecutionTraceOtelRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return WorkflowExecutionTraceOTelResponse
func (a *BetaWorkflowsExecutionsAPIService) GetWorkflowExecutionTraceOtelExecute(r ApiGetWorkflowExecutionTraceOtelRequest) (*WorkflowExecutionTraceOTelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowExecutionTraceOTelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsExecutionsAPIService.GetWorkflowExecutionTraceOtel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/executions/{execution_id}/trace/otel"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWorkflowExecutionTraceSummaryRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsExecutionsAPIService
	executionId string
}

func (r ApiGetWorkflowExecutionTraceSummaryRequest) Execute() (*WorkflowExecutionTraceSummaryResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowExecutionTraceSummaryExecute(r)
}

/*
GetWorkflowExecutionTraceSummary Get Workflow Execution Trace Summary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiGetWorkflowExecutionTraceSummaryRequest
*/
func (a *BetaWorkflowsExecutionsAPIService) GetWorkflowExecutionTraceSummary(ctx context.Context, executionId string) ApiGetWorkflowExecutionTraceSummaryRequest {
	return ApiGetWorkflowExecutionTraceSummaryRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return WorkflowExecutionTraceSummaryResponse
func (a *BetaWorkflowsExecutionsAPIService) GetWorkflowExecutionTraceSummaryExecute(r ApiGetWorkflowExecutionTraceSummaryRequest) (*WorkflowExecutionTraceSummaryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowExecutionTraceSummaryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsExecutionsAPIService.GetWorkflowExecutionTraceSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/executions/{execution_id}/trace/summary"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWorkflowExecutionV1WorkflowsExecutionsExecutionIdGetRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsExecutionsAPIService
	executionId string
}

func (r ApiGetWorkflowExecutionV1WorkflowsExecutionsExecutionIdGetRequest) Execute() (*WorkflowExecutionResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowExecutionV1WorkflowsExecutionsExecutionIdGetExecute(r)
}

/*
GetWorkflowExecutionV1WorkflowsExecutionsExecutionIdGet Get Workflow Execution

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiGetWorkflowExecutionV1WorkflowsExecutionsExecutionIdGetRequest
*/
func (a *BetaWorkflowsExecutionsAPIService) GetWorkflowExecutionV1WorkflowsExecutionsExecutionIdGet(ctx context.Context, executionId string) ApiGetWorkflowExecutionV1WorkflowsExecutionsExecutionIdGetRequest {
	return ApiGetWorkflowExecutionV1WorkflowsExecutionsExecutionIdGetRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return WorkflowExecutionResponse
func (a *BetaWorkflowsExecutionsAPIService) GetWorkflowExecutionV1WorkflowsExecutionsExecutionIdGetExecute(r ApiGetWorkflowExecutionV1WorkflowsExecutionsExecutionIdGetRequest) (*WorkflowExecutionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowExecutionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsExecutionsAPIService.GetWorkflowExecutionV1WorkflowsExecutionsExecutionIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/executions/{execution_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQueryWorkflowExecutionV1WorkflowsExecutionsExecutionIdQueriesPostRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsExecutionsAPIService
	executionId string
	queryInvocationBody *QueryInvocationBody
}

func (r ApiQueryWorkflowExecutionV1WorkflowsExecutionsExecutionIdQueriesPostRequest) QueryInvocationBody(queryInvocationBody QueryInvocationBody) ApiQueryWorkflowExecutionV1WorkflowsExecutionsExecutionIdQueriesPostRequest {
	r.queryInvocationBody = &queryInvocationBody
	return r
}

func (r ApiQueryWorkflowExecutionV1WorkflowsExecutionsExecutionIdQueriesPostRequest) Execute() (*QueryWorkflowResponse, *http.Response, error) {
	return r.ApiService.QueryWorkflowExecutionV1WorkflowsExecutionsExecutionIdQueriesPostExecute(r)
}

/*
QueryWorkflowExecutionV1WorkflowsExecutionsExecutionIdQueriesPost Query Workflow Execution

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiQueryWorkflowExecutionV1WorkflowsExecutionsExecutionIdQueriesPostRequest
*/
func (a *BetaWorkflowsExecutionsAPIService) QueryWorkflowExecutionV1WorkflowsExecutionsExecutionIdQueriesPost(ctx context.Context, executionId string) ApiQueryWorkflowExecutionV1WorkflowsExecutionsExecutionIdQueriesPostRequest {
	return ApiQueryWorkflowExecutionV1WorkflowsExecutionsExecutionIdQueriesPostRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return QueryWorkflowResponse
func (a *BetaWorkflowsExecutionsAPIService) QueryWorkflowExecutionV1WorkflowsExecutionsExecutionIdQueriesPostExecute(r ApiQueryWorkflowExecutionV1WorkflowsExecutionsExecutionIdQueriesPostRequest) (*QueryWorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *QueryWorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsExecutionsAPIService.QueryWorkflowExecutionV1WorkflowsExecutionsExecutionIdQueriesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/executions/{execution_id}/queries"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.queryInvocationBody == nil {
		return localVarReturnValue, nil, reportError("queryInvocationBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.queryInvocationBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResetWorkflowV1WorkflowsExecutionsExecutionIdResetPostRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsExecutionsAPIService
	executionId string
	resetInvocationBody *ResetInvocationBody
}

func (r ApiResetWorkflowV1WorkflowsExecutionsExecutionIdResetPostRequest) ResetInvocationBody(resetInvocationBody ResetInvocationBody) ApiResetWorkflowV1WorkflowsExecutionsExecutionIdResetPostRequest {
	r.resetInvocationBody = &resetInvocationBody
	return r
}

func (r ApiResetWorkflowV1WorkflowsExecutionsExecutionIdResetPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ResetWorkflowV1WorkflowsExecutionsExecutionIdResetPostExecute(r)
}

/*
ResetWorkflowV1WorkflowsExecutionsExecutionIdResetPost Reset Workflow

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiResetWorkflowV1WorkflowsExecutionsExecutionIdResetPostRequest
*/
func (a *BetaWorkflowsExecutionsAPIService) ResetWorkflowV1WorkflowsExecutionsExecutionIdResetPost(ctx context.Context, executionId string) ApiResetWorkflowV1WorkflowsExecutionsExecutionIdResetPostRequest {
	return ApiResetWorkflowV1WorkflowsExecutionsExecutionIdResetPostRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
func (a *BetaWorkflowsExecutionsAPIService) ResetWorkflowV1WorkflowsExecutionsExecutionIdResetPostExecute(r ApiResetWorkflowV1WorkflowsExecutionsExecutionIdResetPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsExecutionsAPIService.ResetWorkflowV1WorkflowsExecutionsExecutionIdResetPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/executions/{execution_id}/reset"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.resetInvocationBody == nil {
		return nil, reportError("resetInvocationBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.resetInvocationBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiSignalWorkflowExecutionV1WorkflowsExecutionsExecutionIdSignalsPostRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsExecutionsAPIService
	executionId string
	signalInvocationBody *SignalInvocationBody
}

func (r ApiSignalWorkflowExecutionV1WorkflowsExecutionsExecutionIdSignalsPostRequest) SignalInvocationBody(signalInvocationBody SignalInvocationBody) ApiSignalWorkflowExecutionV1WorkflowsExecutionsExecutionIdSignalsPostRequest {
	r.signalInvocationBody = &signalInvocationBody
	return r
}

func (r ApiSignalWorkflowExecutionV1WorkflowsExecutionsExecutionIdSignalsPostRequest) Execute() (*SignalWorkflowResponse, *http.Response, error) {
	return r.ApiService.SignalWorkflowExecutionV1WorkflowsExecutionsExecutionIdSignalsPostExecute(r)
}

/*
SignalWorkflowExecutionV1WorkflowsExecutionsExecutionIdSignalsPost Signal Workflow Execution

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiSignalWorkflowExecutionV1WorkflowsExecutionsExecutionIdSignalsPostRequest
*/
func (a *BetaWorkflowsExecutionsAPIService) SignalWorkflowExecutionV1WorkflowsExecutionsExecutionIdSignalsPost(ctx context.Context, executionId string) ApiSignalWorkflowExecutionV1WorkflowsExecutionsExecutionIdSignalsPostRequest {
	return ApiSignalWorkflowExecutionV1WorkflowsExecutionsExecutionIdSignalsPostRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return SignalWorkflowResponse
func (a *BetaWorkflowsExecutionsAPIService) SignalWorkflowExecutionV1WorkflowsExecutionsExecutionIdSignalsPostExecute(r ApiSignalWorkflowExecutionV1WorkflowsExecutionsExecutionIdSignalsPostRequest) (*SignalWorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SignalWorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsExecutionsAPIService.SignalWorkflowExecutionV1WorkflowsExecutionsExecutionIdSignalsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/executions/{execution_id}/signals"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.signalInvocationBody == nil {
		return localVarReturnValue, nil, reportError("signalInvocationBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.signalInvocationBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStreamV1WorkflowsExecutionsExecutionIdStreamGetRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsExecutionsAPIService
	executionId string
	eventSource *EventSource
	lastEventId *string
}

func (r ApiStreamV1WorkflowsExecutionsExecutionIdStreamGetRequest) EventSource(eventSource EventSource) ApiStreamV1WorkflowsExecutionsExecutionIdStreamGetRequest {
	r.eventSource = &eventSource
	return r
}

func (r ApiStreamV1WorkflowsExecutionsExecutionIdStreamGetRequest) LastEventId(lastEventId string) ApiStreamV1WorkflowsExecutionsExecutionIdStreamGetRequest {
	r.lastEventId = &lastEventId
	return r
}

func (r ApiStreamV1WorkflowsExecutionsExecutionIdStreamGetRequest) Execute() (*StreamV1WorkflowsExecutionsExecutionIdStreamGet200Response, *http.Response, error) {
	return r.ApiService.StreamV1WorkflowsExecutionsExecutionIdStreamGetExecute(r)
}

/*
StreamV1WorkflowsExecutionsExecutionIdStreamGet Stream

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiStreamV1WorkflowsExecutionsExecutionIdStreamGetRequest
*/
func (a *BetaWorkflowsExecutionsAPIService) StreamV1WorkflowsExecutionsExecutionIdStreamGet(ctx context.Context, executionId string) ApiStreamV1WorkflowsExecutionsExecutionIdStreamGetRequest {
	return ApiStreamV1WorkflowsExecutionsExecutionIdStreamGetRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return StreamV1WorkflowsExecutionsExecutionIdStreamGet200Response
func (a *BetaWorkflowsExecutionsAPIService) StreamV1WorkflowsExecutionsExecutionIdStreamGetExecute(r ApiStreamV1WorkflowsExecutionsExecutionIdStreamGetRequest) (*StreamV1WorkflowsExecutionsExecutionIdStreamGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *StreamV1WorkflowsExecutionsExecutionIdStreamGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsExecutionsAPIService.StreamV1WorkflowsExecutionsExecutionIdStreamGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/executions/{execution_id}/stream"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.eventSource != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event_source", r.eventSource, "form", "")
	}
	if r.lastEventId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_event_id", r.lastEventId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/event-stream", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTerminateWorkflowExecutionV1WorkflowsExecutionsExecutionIdTerminatePostRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsExecutionsAPIService
	executionId string
}

func (r ApiTerminateWorkflowExecutionV1WorkflowsExecutionsExecutionIdTerminatePostRequest) Execute() (*http.Response, error) {
	return r.ApiService.TerminateWorkflowExecutionV1WorkflowsExecutionsExecutionIdTerminatePostExecute(r)
}

/*
TerminateWorkflowExecutionV1WorkflowsExecutionsExecutionIdTerminatePost Terminate Workflow Execution

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiTerminateWorkflowExecutionV1WorkflowsExecutionsExecutionIdTerminatePostRequest
*/
func (a *BetaWorkflowsExecutionsAPIService) TerminateWorkflowExecutionV1WorkflowsExecutionsExecutionIdTerminatePost(ctx context.Context, executionId string) ApiTerminateWorkflowExecutionV1WorkflowsExecutionsExecutionIdTerminatePostRequest {
	return ApiTerminateWorkflowExecutionV1WorkflowsExecutionsExecutionIdTerminatePostRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
func (a *BetaWorkflowsExecutionsAPIService) TerminateWorkflowExecutionV1WorkflowsExecutionsExecutionIdTerminatePostExecute(r ApiTerminateWorkflowExecutionV1WorkflowsExecutionsExecutionIdTerminatePostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsExecutionsAPIService.TerminateWorkflowExecutionV1WorkflowsExecutionsExecutionIdTerminatePost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/executions/{execution_id}/terminate"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiUpdateWorkflowExecutionV1WorkflowsExecutionsExecutionIdUpdatesPostRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsExecutionsAPIService
	executionId string
	updateInvocationBody *UpdateInvocationBody
}

func (r ApiUpdateWorkflowExecutionV1WorkflowsExecutionsExecutionIdUpdatesPostRequest) UpdateInvocationBody(updateInvocationBody UpdateInvocationBody) ApiUpdateWorkflowExecutionV1WorkflowsExecutionsExecutionIdUpdatesPostRequest {
	r.updateInvocationBody = &updateInvocationBody
	return r
}

func (r ApiUpdateWorkflowExecutionV1WorkflowsExecutionsExecutionIdUpdatesPostRequest) Execute() (*UpdateWorkflowResponse, *http.Response, error) {
	return r.ApiService.UpdateWorkflowExecutionV1WorkflowsExecutionsExecutionIdUpdatesPostExecute(r)
}

/*
UpdateWorkflowExecutionV1WorkflowsExecutionsExecutionIdUpdatesPost Update Workflow Execution

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiUpdateWorkflowExecutionV1WorkflowsExecutionsExecutionIdUpdatesPostRequest
*/
func (a *BetaWorkflowsExecutionsAPIService) UpdateWorkflowExecutionV1WorkflowsExecutionsExecutionIdUpdatesPost(ctx context.Context, executionId string) ApiUpdateWorkflowExecutionV1WorkflowsExecutionsExecutionIdUpdatesPostRequest {
	return ApiUpdateWorkflowExecutionV1WorkflowsExecutionsExecutionIdUpdatesPostRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return UpdateWorkflowResponse
func (a *BetaWorkflowsExecutionsAPIService) UpdateWorkflowExecutionV1WorkflowsExecutionsExecutionIdUpdatesPostExecute(r ApiUpdateWorkflowExecutionV1WorkflowsExecutionsExecutionIdUpdatesPostRequest) (*UpdateWorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateWorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsExecutionsAPIService.UpdateWorkflowExecutionV1WorkflowsExecutionsExecutionIdUpdatesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/executions/{execution_id}/updates"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateInvocationBody == nil {
		return localVarReturnValue, nil, reportError("updateInvocationBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateInvocationBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
