/*
Mistral AI API

Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mistral

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// BetaWorkflowsRunsAPIService BetaWorkflowsRunsAPI service
type BetaWorkflowsRunsAPIService service

type ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsRunsAPIService
	runId string
	decodePayloads *bool
}

func (r ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest) DecodePayloads(decodePayloads bool) ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest {
	r.decodePayloads = &decodePayloads
	return r
}

func (r ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetRunHistoryV1WorkflowsRunsRunIdHistoryGetExecute(r)
}

/*
GetRunHistoryV1WorkflowsRunsRunIdHistoryGet Get Run History

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param runId
 @return ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest
*/
func (a *BetaWorkflowsRunsAPIService) GetRunHistoryV1WorkflowsRunsRunIdHistoryGet(ctx context.Context, runId string) ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest {
	return ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest{
		ApiService: a,
		ctx: ctx,
		runId: runId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *BetaWorkflowsRunsAPIService) GetRunHistoryV1WorkflowsRunsRunIdHistoryGetExecute(r ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsRunsAPIService.GetRunHistoryV1WorkflowsRunsRunIdHistoryGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/runs/{run_id}/history"
	localVarPath = strings.Replace(localVarPath, "{"+"run_id"+"}", url.PathEscape(parameterValueToString(r.runId, "runId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.decodePayloads != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "decode_payloads", r.decodePayloads, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "decode_payloads", defaultValue, "form", "")
		r.decodePayloads = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRunV1WorkflowsRunsRunIdGetRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsRunsAPIService
	runId string
}

func (r ApiGetRunV1WorkflowsRunsRunIdGetRequest) Execute() (*WorkflowExecutionResponse, *http.Response, error) {
	return r.ApiService.GetRunV1WorkflowsRunsRunIdGetExecute(r)
}

/*
GetRunV1WorkflowsRunsRunIdGet Get Run

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param runId
 @return ApiGetRunV1WorkflowsRunsRunIdGetRequest
*/
func (a *BetaWorkflowsRunsAPIService) GetRunV1WorkflowsRunsRunIdGet(ctx context.Context, runId string) ApiGetRunV1WorkflowsRunsRunIdGetRequest {
	return ApiGetRunV1WorkflowsRunsRunIdGetRequest{
		ApiService: a,
		ctx: ctx,
		runId: runId,
	}
}

// Execute executes the request
//  @return WorkflowExecutionResponse
func (a *BetaWorkflowsRunsAPIService) GetRunV1WorkflowsRunsRunIdGetExecute(r ApiGetRunV1WorkflowsRunsRunIdGetRequest) (*WorkflowExecutionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowExecutionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsRunsAPIService.GetRunV1WorkflowsRunsRunIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/runs/{run_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"run_id"+"}", url.PathEscape(parameterValueToString(r.runId, "runId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListRunsV1WorkflowsRunsGetRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsRunsAPIService
	workflowIdentifier *string
	search *string
	status *Status
	pageSize *int32
	nextPageToken *string
}

// Filter by workflow name or id
func (r ApiListRunsV1WorkflowsRunsGetRequest) WorkflowIdentifier(workflowIdentifier string) ApiListRunsV1WorkflowsRunsGetRequest {
	r.workflowIdentifier = &workflowIdentifier
	return r
}

// Search by workflow name, display name or id
func (r ApiListRunsV1WorkflowsRunsGetRequest) Search(search string) ApiListRunsV1WorkflowsRunsGetRequest {
	r.search = &search
	return r
}

// Filter by workflow status
func (r ApiListRunsV1WorkflowsRunsGetRequest) Status(status Status) ApiListRunsV1WorkflowsRunsGetRequest {
	r.status = &status
	return r
}

// Number of items per page
func (r ApiListRunsV1WorkflowsRunsGetRequest) PageSize(pageSize int32) ApiListRunsV1WorkflowsRunsGetRequest {
	r.pageSize = &pageSize
	return r
}

// Token for the next page of results
func (r ApiListRunsV1WorkflowsRunsGetRequest) NextPageToken(nextPageToken string) ApiListRunsV1WorkflowsRunsGetRequest {
	r.nextPageToken = &nextPageToken
	return r
}

func (r ApiListRunsV1WorkflowsRunsGetRequest) Execute() (*WorkflowExecutionListResponse, *http.Response, error) {
	return r.ApiService.ListRunsV1WorkflowsRunsGetExecute(r)
}

/*
ListRunsV1WorkflowsRunsGet List Runs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListRunsV1WorkflowsRunsGetRequest
*/
func (a *BetaWorkflowsRunsAPIService) ListRunsV1WorkflowsRunsGet(ctx context.Context) ApiListRunsV1WorkflowsRunsGetRequest {
	return ApiListRunsV1WorkflowsRunsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return WorkflowExecutionListResponse
func (a *BetaWorkflowsRunsAPIService) ListRunsV1WorkflowsRunsGetExecute(r ApiListRunsV1WorkflowsRunsGetRequest) (*WorkflowExecutionListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowExecutionListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsRunsAPIService.ListRunsV1WorkflowsRunsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/runs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.workflowIdentifier != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_identifier", r.workflowIdentifier, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.nextPageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "next_page_token", r.nextPageToken, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
