/*
Mistral AI API

Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mistral

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// BetaWorkflowsAPIService BetaWorkflowsAPI service
type BetaWorkflowsAPIService service

type ApiArchiveWorkflowV1WorkflowsWorkflowIdentifierArchivePutRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsAPIService
	workflowIdentifier string
}

func (r ApiArchiveWorkflowV1WorkflowsWorkflowIdentifierArchivePutRequest) Execute() (*WorkflowArchiveResponse, *http.Response, error) {
	return r.ApiService.ArchiveWorkflowV1WorkflowsWorkflowIdentifierArchivePutExecute(r)
}

/*
ArchiveWorkflowV1WorkflowsWorkflowIdentifierArchivePut Archive Workflow

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workflowIdentifier
 @return ApiArchiveWorkflowV1WorkflowsWorkflowIdentifierArchivePutRequest
*/
func (a *BetaWorkflowsAPIService) ArchiveWorkflowV1WorkflowsWorkflowIdentifierArchivePut(ctx context.Context, workflowIdentifier string) ApiArchiveWorkflowV1WorkflowsWorkflowIdentifierArchivePutRequest {
	return ApiArchiveWorkflowV1WorkflowsWorkflowIdentifierArchivePutRequest{
		ApiService: a,
		ctx: ctx,
		workflowIdentifier: workflowIdentifier,
	}
}

// Execute executes the request
//  @return WorkflowArchiveResponse
func (a *BetaWorkflowsAPIService) ArchiveWorkflowV1WorkflowsWorkflowIdentifierArchivePutExecute(r ApiArchiveWorkflowV1WorkflowsWorkflowIdentifierArchivePutRequest) (*WorkflowArchiveResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowArchiveResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsAPIService.ArchiveWorkflowV1WorkflowsWorkflowIdentifierArchivePut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/{workflow_identifier}/archive"
	localVarPath = strings.Replace(localVarPath, "{"+"workflow_identifier"+"}", url.PathEscape(parameterValueToString(r.workflowIdentifier, "workflowIdentifier")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExecuteWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdExecutePostRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsAPIService
	workflowRegistrationId string
	workflowExecutionRequest *WorkflowExecutionRequest
}

func (r ApiExecuteWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdExecutePostRequest) WorkflowExecutionRequest(workflowExecutionRequest WorkflowExecutionRequest) ApiExecuteWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdExecutePostRequest {
	r.workflowExecutionRequest = &workflowExecutionRequest
	return r
}

func (r ApiExecuteWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdExecutePostRequest) Execute() (*ResponseExecuteWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdExecutePost, *http.Response, error) {
	return r.ApiService.ExecuteWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdExecutePostExecute(r)
}

/*
ExecuteWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdExecutePost Execute Workflow Registration

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workflowRegistrationId
 @return ApiExecuteWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdExecutePostRequest

Deprecated
*/
func (a *BetaWorkflowsAPIService) ExecuteWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdExecutePost(ctx context.Context, workflowRegistrationId string) ApiExecuteWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdExecutePostRequest {
	return ApiExecuteWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdExecutePostRequest{
		ApiService: a,
		ctx: ctx,
		workflowRegistrationId: workflowRegistrationId,
	}
}

// Execute executes the request
//  @return ResponseExecuteWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdExecutePost
// Deprecated
func (a *BetaWorkflowsAPIService) ExecuteWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdExecutePostExecute(r ApiExecuteWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdExecutePostRequest) (*ResponseExecuteWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdExecutePost, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseExecuteWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdExecutePost
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsAPIService.ExecuteWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdExecutePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/registrations/{workflow_registration_id}/execute"
	localVarPath = strings.Replace(localVarPath, "{"+"workflow_registration_id"+"}", url.PathEscape(parameterValueToString(r.workflowRegistrationId, "workflowRegistrationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workflowExecutionRequest == nil {
		return localVarReturnValue, nil, reportError("workflowExecutionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.workflowExecutionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExecuteWorkflowV1WorkflowsWorkflowIdentifierExecutePostRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsAPIService
	workflowIdentifier string
	workflowExecutionRequest *WorkflowExecutionRequest
}

func (r ApiExecuteWorkflowV1WorkflowsWorkflowIdentifierExecutePostRequest) WorkflowExecutionRequest(workflowExecutionRequest WorkflowExecutionRequest) ApiExecuteWorkflowV1WorkflowsWorkflowIdentifierExecutePostRequest {
	r.workflowExecutionRequest = &workflowExecutionRequest
	return r
}

func (r ApiExecuteWorkflowV1WorkflowsWorkflowIdentifierExecutePostRequest) Execute() (*ResponseExecuteWorkflowV1WorkflowsWorkflowIdentifierExecutePost, *http.Response, error) {
	return r.ApiService.ExecuteWorkflowV1WorkflowsWorkflowIdentifierExecutePostExecute(r)
}

/*
ExecuteWorkflowV1WorkflowsWorkflowIdentifierExecutePost Execute Workflow

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workflowIdentifier
 @return ApiExecuteWorkflowV1WorkflowsWorkflowIdentifierExecutePostRequest
*/
func (a *BetaWorkflowsAPIService) ExecuteWorkflowV1WorkflowsWorkflowIdentifierExecutePost(ctx context.Context, workflowIdentifier string) ApiExecuteWorkflowV1WorkflowsWorkflowIdentifierExecutePostRequest {
	return ApiExecuteWorkflowV1WorkflowsWorkflowIdentifierExecutePostRequest{
		ApiService: a,
		ctx: ctx,
		workflowIdentifier: workflowIdentifier,
	}
}

// Execute executes the request
//  @return ResponseExecuteWorkflowV1WorkflowsWorkflowIdentifierExecutePost
func (a *BetaWorkflowsAPIService) ExecuteWorkflowV1WorkflowsWorkflowIdentifierExecutePostExecute(r ApiExecuteWorkflowV1WorkflowsWorkflowIdentifierExecutePostRequest) (*ResponseExecuteWorkflowV1WorkflowsWorkflowIdentifierExecutePost, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseExecuteWorkflowV1WorkflowsWorkflowIdentifierExecutePost
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsAPIService.ExecuteWorkflowV1WorkflowsWorkflowIdentifierExecutePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/{workflow_identifier}/execute"
	localVarPath = strings.Replace(localVarPath, "{"+"workflow_identifier"+"}", url.PathEscape(parameterValueToString(r.workflowIdentifier, "workflowIdentifier")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workflowExecutionRequest == nil {
		return localVarReturnValue, nil, reportError("workflowExecutionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.workflowExecutionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdGetRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsAPIService
	workflowRegistrationId string
	withWorkflow *bool
	includeShared *bool
}

// Whether to include the workflow definition
func (r ApiGetWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdGetRequest) WithWorkflow(withWorkflow bool) ApiGetWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdGetRequest {
	r.withWorkflow = &withWorkflow
	return r
}

// Whether to include shared workflow versions
func (r ApiGetWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdGetRequest) IncludeShared(includeShared bool) ApiGetWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdGetRequest {
	r.includeShared = &includeShared
	return r
}

func (r ApiGetWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdGetRequest) Execute() (*WorkflowRegistrationGetResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdGetExecute(r)
}

/*
GetWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdGet Get Workflow Registration

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workflowRegistrationId
 @return ApiGetWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdGetRequest
*/
func (a *BetaWorkflowsAPIService) GetWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdGet(ctx context.Context, workflowRegistrationId string) ApiGetWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdGetRequest {
	return ApiGetWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdGetRequest{
		ApiService: a,
		ctx: ctx,
		workflowRegistrationId: workflowRegistrationId,
	}
}

// Execute executes the request
//  @return WorkflowRegistrationGetResponse
func (a *BetaWorkflowsAPIService) GetWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdGetExecute(r ApiGetWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdGetRequest) (*WorkflowRegistrationGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowRegistrationGetResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsAPIService.GetWorkflowRegistrationV1WorkflowsRegistrationsWorkflowRegistrationIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/registrations/{workflow_registration_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"workflow_registration_id"+"}", url.PathEscape(parameterValueToString(r.workflowRegistrationId, "workflowRegistrationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.withWorkflow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_workflow", r.withWorkflow, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_workflow", defaultValue, "form", "")
		r.withWorkflow = &defaultValue
	}
	if r.includeShared != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_shared", r.includeShared, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_shared", defaultValue, "form", "")
		r.includeShared = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsAPIService
	workflowId *string
	taskQueue *string
	activeOnly *bool
	includeShared *bool
	workflowSearch *string
	archived *bool
	withWorkflow *bool
	availableInChatAssistant *bool
	limit *int32
	cursor *string
}

// The workflow ID to filter by
func (r ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest) WorkflowId(workflowId string) ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest {
	r.workflowId = &workflowId
	return r
}

// The task queue to filter by
func (r ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest) TaskQueue(taskQueue string) ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest {
	r.taskQueue = &taskQueue
	return r
}

// Whether to only return active workflows versions
func (r ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest) ActiveOnly(activeOnly bool) ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest {
	r.activeOnly = &activeOnly
	return r
}

// Whether to include shared workflow versions
func (r ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest) IncludeShared(includeShared bool) ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest {
	r.includeShared = &includeShared
	return r
}

// The workflow name to filter by
func (r ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest) WorkflowSearch(workflowSearch string) ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest {
	r.workflowSearch = &workflowSearch
	return r
}

// Filter by archived state. False&#x3D;exclude archived, True&#x3D;only archived, None&#x3D;include all
func (r ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest) Archived(archived bool) ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest {
	r.archived = &archived
	return r
}

// Whether to include the workflow definition
func (r ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest) WithWorkflow(withWorkflow bool) ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest {
	r.withWorkflow = &withWorkflow
	return r
}

// Whether to only return workflows compatible with chat assistant
func (r ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest) AvailableInChatAssistant(availableInChatAssistant bool) ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest {
	r.availableInChatAssistant = &availableInChatAssistant
	return r
}

// The maximum number of workflows versions to return
func (r ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest) Limit(limit int32) ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest {
	r.limit = &limit
	return r
}

// The cursor for pagination
func (r ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest) Cursor(cursor string) ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest {
	r.cursor = &cursor
	return r
}

func (r ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest) Execute() (*WorkflowRegistrationListResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowRegistrationsV1WorkflowsRegistrationsGetExecute(r)
}

/*
GetWorkflowRegistrationsV1WorkflowsRegistrationsGet Get Workflow Registrations

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest
*/
func (a *BetaWorkflowsAPIService) GetWorkflowRegistrationsV1WorkflowsRegistrationsGet(ctx context.Context) ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest {
	return ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return WorkflowRegistrationListResponse
func (a *BetaWorkflowsAPIService) GetWorkflowRegistrationsV1WorkflowsRegistrationsGetExecute(r ApiGetWorkflowRegistrationsV1WorkflowsRegistrationsGetRequest) (*WorkflowRegistrationListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowRegistrationListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsAPIService.GetWorkflowRegistrationsV1WorkflowsRegistrationsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/registrations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.workflowId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_id", r.workflowId, "form", "")
	}
	if r.taskQueue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_queue", r.taskQueue, "form", "")
	}
	if r.activeOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active_only", r.activeOnly, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "active_only", defaultValue, "form", "")
		r.activeOnly = &defaultValue
	}
	if r.includeShared != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_shared", r.includeShared, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_shared", defaultValue, "form", "")
		r.includeShared = &defaultValue
	}
	if r.workflowSearch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_search", r.workflowSearch, "form", "")
	}
	if r.archived != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "archived", r.archived, "form", "")
	}
	if r.withWorkflow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_workflow", r.withWorkflow, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_workflow", defaultValue, "form", "")
		r.withWorkflow = &defaultValue
	}
	if r.availableInChatAssistant != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "available_in_chat_assistant", r.availableInChatAssistant, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWorkflowV1WorkflowsWorkflowIdentifierGetRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsAPIService
	workflowIdentifier string
}

func (r ApiGetWorkflowV1WorkflowsWorkflowIdentifierGetRequest) Execute() (*WorkflowGetResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowV1WorkflowsWorkflowIdentifierGetExecute(r)
}

/*
GetWorkflowV1WorkflowsWorkflowIdentifierGet Get Workflow

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workflowIdentifier
 @return ApiGetWorkflowV1WorkflowsWorkflowIdentifierGetRequest
*/
func (a *BetaWorkflowsAPIService) GetWorkflowV1WorkflowsWorkflowIdentifierGet(ctx context.Context, workflowIdentifier string) ApiGetWorkflowV1WorkflowsWorkflowIdentifierGetRequest {
	return ApiGetWorkflowV1WorkflowsWorkflowIdentifierGetRequest{
		ApiService: a,
		ctx: ctx,
		workflowIdentifier: workflowIdentifier,
	}
}

// Execute executes the request
//  @return WorkflowGetResponse
func (a *BetaWorkflowsAPIService) GetWorkflowV1WorkflowsWorkflowIdentifierGetExecute(r ApiGetWorkflowV1WorkflowsWorkflowIdentifierGetRequest) (*WorkflowGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowGetResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsAPIService.GetWorkflowV1WorkflowsWorkflowIdentifierGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/{workflow_identifier}"
	localVarPath = strings.Replace(localVarPath, "{"+"workflow_identifier"+"}", url.PathEscape(parameterValueToString(r.workflowIdentifier, "workflowIdentifier")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUnarchiveWorkflowV1WorkflowsWorkflowIdentifierUnarchivePutRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsAPIService
	workflowIdentifier string
}

func (r ApiUnarchiveWorkflowV1WorkflowsWorkflowIdentifierUnarchivePutRequest) Execute() (*WorkflowUnarchiveResponse, *http.Response, error) {
	return r.ApiService.UnarchiveWorkflowV1WorkflowsWorkflowIdentifierUnarchivePutExecute(r)
}

/*
UnarchiveWorkflowV1WorkflowsWorkflowIdentifierUnarchivePut Unarchive Workflow

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workflowIdentifier
 @return ApiUnarchiveWorkflowV1WorkflowsWorkflowIdentifierUnarchivePutRequest
*/
func (a *BetaWorkflowsAPIService) UnarchiveWorkflowV1WorkflowsWorkflowIdentifierUnarchivePut(ctx context.Context, workflowIdentifier string) ApiUnarchiveWorkflowV1WorkflowsWorkflowIdentifierUnarchivePutRequest {
	return ApiUnarchiveWorkflowV1WorkflowsWorkflowIdentifierUnarchivePutRequest{
		ApiService: a,
		ctx: ctx,
		workflowIdentifier: workflowIdentifier,
	}
}

// Execute executes the request
//  @return WorkflowUnarchiveResponse
func (a *BetaWorkflowsAPIService) UnarchiveWorkflowV1WorkflowsWorkflowIdentifierUnarchivePutExecute(r ApiUnarchiveWorkflowV1WorkflowsWorkflowIdentifierUnarchivePutRequest) (*WorkflowUnarchiveResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowUnarchiveResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsAPIService.UnarchiveWorkflowV1WorkflowsWorkflowIdentifierUnarchivePut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/{workflow_identifier}/unarchive"
	localVarPath = strings.Replace(localVarPath, "{"+"workflow_identifier"+"}", url.PathEscape(parameterValueToString(r.workflowIdentifier, "workflowIdentifier")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateWorkflowV1WorkflowsWorkflowIdentifierPutRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsAPIService
	workflowIdentifier string
	workflowUpdateRequest *WorkflowUpdateRequest
}

func (r ApiUpdateWorkflowV1WorkflowsWorkflowIdentifierPutRequest) WorkflowUpdateRequest(workflowUpdateRequest WorkflowUpdateRequest) ApiUpdateWorkflowV1WorkflowsWorkflowIdentifierPutRequest {
	r.workflowUpdateRequest = &workflowUpdateRequest
	return r
}

func (r ApiUpdateWorkflowV1WorkflowsWorkflowIdentifierPutRequest) Execute() (*WorkflowUpdateResponse, *http.Response, error) {
	return r.ApiService.UpdateWorkflowV1WorkflowsWorkflowIdentifierPutExecute(r)
}

/*
UpdateWorkflowV1WorkflowsWorkflowIdentifierPut Update Workflow

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workflowIdentifier
 @return ApiUpdateWorkflowV1WorkflowsWorkflowIdentifierPutRequest
*/
func (a *BetaWorkflowsAPIService) UpdateWorkflowV1WorkflowsWorkflowIdentifierPut(ctx context.Context, workflowIdentifier string) ApiUpdateWorkflowV1WorkflowsWorkflowIdentifierPutRequest {
	return ApiUpdateWorkflowV1WorkflowsWorkflowIdentifierPutRequest{
		ApiService: a,
		ctx: ctx,
		workflowIdentifier: workflowIdentifier,
	}
}

// Execute executes the request
//  @return WorkflowUpdateResponse
func (a *BetaWorkflowsAPIService) UpdateWorkflowV1WorkflowsWorkflowIdentifierPutExecute(r ApiUpdateWorkflowV1WorkflowsWorkflowIdentifierPutRequest) (*WorkflowUpdateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowUpdateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsAPIService.UpdateWorkflowV1WorkflowsWorkflowIdentifierPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/{workflow_identifier}"
	localVarPath = strings.Replace(localVarPath, "{"+"workflow_identifier"+"}", url.PathEscape(parameterValueToString(r.workflowIdentifier, "workflowIdentifier")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workflowUpdateRequest == nil {
		return localVarReturnValue, nil, reportError("workflowUpdateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.workflowUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
