/*
Mistral AI API

Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mistral

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// BetaConnectorsAPIService BetaConnectorsAPI service
type BetaConnectorsAPIService service

type ApiConnectorCallToolV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	toolName string
	connectorIdOrName string
	mCPToolCallRequest *MCPToolCallRequest
	credentialsName *string
}

func (r ApiConnectorCallToolV1Request) MCPToolCallRequest(mCPToolCallRequest MCPToolCallRequest) ApiConnectorCallToolV1Request {
	r.mCPToolCallRequest = &mCPToolCallRequest
	return r
}

func (r ApiConnectorCallToolV1Request) CredentialsName(credentialsName string) ApiConnectorCallToolV1Request {
	r.credentialsName = &credentialsName
	return r
}

func (r ApiConnectorCallToolV1Request) Execute() (*MCPToolCallResponse, *http.Response, error) {
	return r.ApiService.ConnectorCallToolV1Execute(r)
}

/*
ConnectorCallToolV1 Call Connector Tool

Call a tool on an MCP connector.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param toolName
 @param connectorIdOrName
 @return ApiConnectorCallToolV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorCallToolV1(ctx context.Context, toolName string, connectorIdOrName string) ApiConnectorCallToolV1Request {
	return ApiConnectorCallToolV1Request{
		ApiService: a,
		ctx: ctx,
		toolName: toolName,
		connectorIdOrName: connectorIdOrName,
	}
}

// Execute executes the request
//  @return MCPToolCallResponse
func (a *BetaConnectorsAPIService) ConnectorCallToolV1Execute(r ApiConnectorCallToolV1Request) (*MCPToolCallResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MCPToolCallResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorCallToolV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{connector_id_or_name}/tools/{tool_name}/call"
	localVarPath = strings.Replace(localVarPath, "{"+"tool_name"+"}", url.PathEscape(parameterValueToString(r.toolName, "toolName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connector_id_or_name"+"}", url.PathEscape(parameterValueToString(r.connectorIdOrName, "connectorIdOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.mCPToolCallRequest == nil {
		return localVarReturnValue, nil, reportError("mCPToolCallRequest is required and must be specified")
	}

	if r.credentialsName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "credentials_name", r.credentialsName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.mCPToolCallRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorCreateOrUpdateOrganizationCredentialsV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	connectorIdOrName string
	credentialsCreateOrUpdate *CredentialsCreateOrUpdate
}

func (r ApiConnectorCreateOrUpdateOrganizationCredentialsV1Request) CredentialsCreateOrUpdate(credentialsCreateOrUpdate CredentialsCreateOrUpdate) ApiConnectorCreateOrUpdateOrganizationCredentialsV1Request {
	r.credentialsCreateOrUpdate = &credentialsCreateOrUpdate
	return r
}

func (r ApiConnectorCreateOrUpdateOrganizationCredentialsV1Request) Execute() (*MessageResponse, *http.Response, error) {
	return r.ApiService.ConnectorCreateOrUpdateOrganizationCredentialsV1Execute(r)
}

/*
ConnectorCreateOrUpdateOrganizationCredentialsV1 Create or update organization credentials for a connector.

Create or update credentials at the organization level for a given connector.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connectorIdOrName
 @return ApiConnectorCreateOrUpdateOrganizationCredentialsV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorCreateOrUpdateOrganizationCredentialsV1(ctx context.Context, connectorIdOrName string) ApiConnectorCreateOrUpdateOrganizationCredentialsV1Request {
	return ApiConnectorCreateOrUpdateOrganizationCredentialsV1Request{
		ApiService: a,
		ctx: ctx,
		connectorIdOrName: connectorIdOrName,
	}
}

// Execute executes the request
//  @return MessageResponse
func (a *BetaConnectorsAPIService) ConnectorCreateOrUpdateOrganizationCredentialsV1Execute(r ApiConnectorCreateOrUpdateOrganizationCredentialsV1Request) (*MessageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MessageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorCreateOrUpdateOrganizationCredentialsV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{connector_id_or_name}/organization/credentials"
	localVarPath = strings.Replace(localVarPath, "{"+"connector_id_or_name"+"}", url.PathEscape(parameterValueToString(r.connectorIdOrName, "connectorIdOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.credentialsCreateOrUpdate == nil {
		return localVarReturnValue, nil, reportError("credentialsCreateOrUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.credentialsCreateOrUpdate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorCreateOrUpdateUserCredentialsV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	connectorIdOrName string
	credentialsCreateOrUpdate *CredentialsCreateOrUpdate
}

func (r ApiConnectorCreateOrUpdateUserCredentialsV1Request) CredentialsCreateOrUpdate(credentialsCreateOrUpdate CredentialsCreateOrUpdate) ApiConnectorCreateOrUpdateUserCredentialsV1Request {
	r.credentialsCreateOrUpdate = &credentialsCreateOrUpdate
	return r
}

func (r ApiConnectorCreateOrUpdateUserCredentialsV1Request) Execute() (*MessageResponse, *http.Response, error) {
	return r.ApiService.ConnectorCreateOrUpdateUserCredentialsV1Execute(r)
}

/*
ConnectorCreateOrUpdateUserCredentialsV1 Create or update user credentials for a connector.

Create or update credentials at the user level for a given connector.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connectorIdOrName
 @return ApiConnectorCreateOrUpdateUserCredentialsV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorCreateOrUpdateUserCredentialsV1(ctx context.Context, connectorIdOrName string) ApiConnectorCreateOrUpdateUserCredentialsV1Request {
	return ApiConnectorCreateOrUpdateUserCredentialsV1Request{
		ApiService: a,
		ctx: ctx,
		connectorIdOrName: connectorIdOrName,
	}
}

// Execute executes the request
//  @return MessageResponse
func (a *BetaConnectorsAPIService) ConnectorCreateOrUpdateUserCredentialsV1Execute(r ApiConnectorCreateOrUpdateUserCredentialsV1Request) (*MessageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MessageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorCreateOrUpdateUserCredentialsV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{connector_id_or_name}/user/credentials"
	localVarPath = strings.Replace(localVarPath, "{"+"connector_id_or_name"+"}", url.PathEscape(parameterValueToString(r.connectorIdOrName, "connectorIdOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.credentialsCreateOrUpdate == nil {
		return localVarReturnValue, nil, reportError("credentialsCreateOrUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.credentialsCreateOrUpdate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorCreateOrUpdateWorkspaceCredentialsV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	connectorIdOrName string
	credentialsCreateOrUpdate *CredentialsCreateOrUpdate
}

func (r ApiConnectorCreateOrUpdateWorkspaceCredentialsV1Request) CredentialsCreateOrUpdate(credentialsCreateOrUpdate CredentialsCreateOrUpdate) ApiConnectorCreateOrUpdateWorkspaceCredentialsV1Request {
	r.credentialsCreateOrUpdate = &credentialsCreateOrUpdate
	return r
}

func (r ApiConnectorCreateOrUpdateWorkspaceCredentialsV1Request) Execute() (*MessageResponse, *http.Response, error) {
	return r.ApiService.ConnectorCreateOrUpdateWorkspaceCredentialsV1Execute(r)
}

/*
ConnectorCreateOrUpdateWorkspaceCredentialsV1 Create or update workspace credentials for a connector.

Create or update credentials at the workspace level for a given connector.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connectorIdOrName
 @return ApiConnectorCreateOrUpdateWorkspaceCredentialsV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorCreateOrUpdateWorkspaceCredentialsV1(ctx context.Context, connectorIdOrName string) ApiConnectorCreateOrUpdateWorkspaceCredentialsV1Request {
	return ApiConnectorCreateOrUpdateWorkspaceCredentialsV1Request{
		ApiService: a,
		ctx: ctx,
		connectorIdOrName: connectorIdOrName,
	}
}

// Execute executes the request
//  @return MessageResponse
func (a *BetaConnectorsAPIService) ConnectorCreateOrUpdateWorkspaceCredentialsV1Execute(r ApiConnectorCreateOrUpdateWorkspaceCredentialsV1Request) (*MessageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MessageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorCreateOrUpdateWorkspaceCredentialsV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{connector_id_or_name}/workspace/credentials"
	localVarPath = strings.Replace(localVarPath, "{"+"connector_id_or_name"+"}", url.PathEscape(parameterValueToString(r.connectorIdOrName, "connectorIdOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.credentialsCreateOrUpdate == nil {
		return localVarReturnValue, nil, reportError("credentialsCreateOrUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.credentialsCreateOrUpdate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorCreateV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	connectorMCPCreate *ConnectorMCPCreate
}

func (r ApiConnectorCreateV1Request) ConnectorMCPCreate(connectorMCPCreate ConnectorMCPCreate) ApiConnectorCreateV1Request {
	r.connectorMCPCreate = &connectorMCPCreate
	return r
}

func (r ApiConnectorCreateV1Request) Execute() (*Connector, *http.Response, error) {
	return r.ApiService.ConnectorCreateV1Execute(r)
}

/*
ConnectorCreateV1 Create a new connector.

Create a new MCP connector. You can customize its visibility, url and auth type.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConnectorCreateV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorCreateV1(ctx context.Context) ApiConnectorCreateV1Request {
	return ApiConnectorCreateV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Connector
func (a *BetaConnectorsAPIService) ConnectorCreateV1Execute(r ApiConnectorCreateV1Request) (*Connector, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Connector
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorCreateV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.connectorMCPCreate == nil {
		return localVarReturnValue, nil, reportError("connectorMCPCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.connectorMCPCreate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorDeleteOrganizationCredentialsV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	credentialsName string
	connectorIdOrName string
}

func (r ApiConnectorDeleteOrganizationCredentialsV1Request) Execute() (*MessageResponse, *http.Response, error) {
	return r.ApiService.ConnectorDeleteOrganizationCredentialsV1Execute(r)
}

/*
ConnectorDeleteOrganizationCredentialsV1 Delete organization credentials for a connector.

Delete credentials at the organization level for a given connector.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param credentialsName
 @param connectorIdOrName
 @return ApiConnectorDeleteOrganizationCredentialsV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorDeleteOrganizationCredentialsV1(ctx context.Context, credentialsName string, connectorIdOrName string) ApiConnectorDeleteOrganizationCredentialsV1Request {
	return ApiConnectorDeleteOrganizationCredentialsV1Request{
		ApiService: a,
		ctx: ctx,
		credentialsName: credentialsName,
		connectorIdOrName: connectorIdOrName,
	}
}

// Execute executes the request
//  @return MessageResponse
func (a *BetaConnectorsAPIService) ConnectorDeleteOrganizationCredentialsV1Execute(r ApiConnectorDeleteOrganizationCredentialsV1Request) (*MessageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MessageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorDeleteOrganizationCredentialsV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{connector_id_or_name}/organization/credentials/{credentials_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"credentials_name"+"}", url.PathEscape(parameterValueToString(r.credentialsName, "credentialsName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connector_id_or_name"+"}", url.PathEscape(parameterValueToString(r.connectorIdOrName, "connectorIdOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorDeleteUserCredentialsV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	credentialsName string
	connectorIdOrName string
}

func (r ApiConnectorDeleteUserCredentialsV1Request) Execute() (*MessageResponse, *http.Response, error) {
	return r.ApiService.ConnectorDeleteUserCredentialsV1Execute(r)
}

/*
ConnectorDeleteUserCredentialsV1 Delete user credentials for a connector.

Delete credentials at the user level for a given connector.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param credentialsName
 @param connectorIdOrName
 @return ApiConnectorDeleteUserCredentialsV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorDeleteUserCredentialsV1(ctx context.Context, credentialsName string, connectorIdOrName string) ApiConnectorDeleteUserCredentialsV1Request {
	return ApiConnectorDeleteUserCredentialsV1Request{
		ApiService: a,
		ctx: ctx,
		credentialsName: credentialsName,
		connectorIdOrName: connectorIdOrName,
	}
}

// Execute executes the request
//  @return MessageResponse
func (a *BetaConnectorsAPIService) ConnectorDeleteUserCredentialsV1Execute(r ApiConnectorDeleteUserCredentialsV1Request) (*MessageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MessageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorDeleteUserCredentialsV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{connector_id_or_name}/user/credentials/{credentials_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"credentials_name"+"}", url.PathEscape(parameterValueToString(r.credentialsName, "credentialsName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connector_id_or_name"+"}", url.PathEscape(parameterValueToString(r.connectorIdOrName, "connectorIdOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorDeleteV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	connectorId string
}

func (r ApiConnectorDeleteV1Request) Execute() (*MessageResponse, *http.Response, error) {
	return r.ApiService.ConnectorDeleteV1Execute(r)
}

/*
ConnectorDeleteV1 Delete a connector.

Delete a connector by its ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connectorId
 @return ApiConnectorDeleteV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorDeleteV1(ctx context.Context, connectorId string) ApiConnectorDeleteV1Request {
	return ApiConnectorDeleteV1Request{
		ApiService: a,
		ctx: ctx,
		connectorId: connectorId,
	}
}

// Execute executes the request
//  @return MessageResponse
func (a *BetaConnectorsAPIService) ConnectorDeleteV1Execute(r ApiConnectorDeleteV1Request) (*MessageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MessageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorDeleteV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{connector_id}#id"
	localVarPath = strings.Replace(localVarPath, "{"+"connector_id"+"}", url.PathEscape(parameterValueToString(r.connectorId, "connectorId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorDeleteWorkspaceCredentialsV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	credentialsName string
	connectorIdOrName string
}

func (r ApiConnectorDeleteWorkspaceCredentialsV1Request) Execute() (*MessageResponse, *http.Response, error) {
	return r.ApiService.ConnectorDeleteWorkspaceCredentialsV1Execute(r)
}

/*
ConnectorDeleteWorkspaceCredentialsV1 Delete workspace credentials for a connector.

Delete credentials at the workspace level for a given connector.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param credentialsName
 @param connectorIdOrName
 @return ApiConnectorDeleteWorkspaceCredentialsV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorDeleteWorkspaceCredentialsV1(ctx context.Context, credentialsName string, connectorIdOrName string) ApiConnectorDeleteWorkspaceCredentialsV1Request {
	return ApiConnectorDeleteWorkspaceCredentialsV1Request{
		ApiService: a,
		ctx: ctx,
		credentialsName: credentialsName,
		connectorIdOrName: connectorIdOrName,
	}
}

// Execute executes the request
//  @return MessageResponse
func (a *BetaConnectorsAPIService) ConnectorDeleteWorkspaceCredentialsV1Execute(r ApiConnectorDeleteWorkspaceCredentialsV1Request) (*MessageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MessageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorDeleteWorkspaceCredentialsV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{connector_id_or_name}/workspace/credentials/{credentials_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"credentials_name"+"}", url.PathEscape(parameterValueToString(r.credentialsName, "credentialsName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connector_id_or_name"+"}", url.PathEscape(parameterValueToString(r.connectorIdOrName, "connectorIdOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorGetAuthUrlV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	connectorIdOrName string
	appReturnUrl *string
	credentialsName *string
}

func (r ApiConnectorGetAuthUrlV1Request) AppReturnUrl(appReturnUrl string) ApiConnectorGetAuthUrlV1Request {
	r.appReturnUrl = &appReturnUrl
	return r
}

func (r ApiConnectorGetAuthUrlV1Request) CredentialsName(credentialsName string) ApiConnectorGetAuthUrlV1Request {
	r.credentialsName = &credentialsName
	return r
}

func (r ApiConnectorGetAuthUrlV1Request) Execute() (*AuthUrlResponse, *http.Response, error) {
	return r.ApiService.ConnectorGetAuthUrlV1Execute(r)
}

/*
ConnectorGetAuthUrlV1 Get the auth URL for a connector.

Get the OAuth2 authorization URL for a connector to initiate user authentication.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connectorIdOrName
 @return ApiConnectorGetAuthUrlV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorGetAuthUrlV1(ctx context.Context, connectorIdOrName string) ApiConnectorGetAuthUrlV1Request {
	return ApiConnectorGetAuthUrlV1Request{
		ApiService: a,
		ctx: ctx,
		connectorIdOrName: connectorIdOrName,
	}
}

// Execute executes the request
//  @return AuthUrlResponse
func (a *BetaConnectorsAPIService) ConnectorGetAuthUrlV1Execute(r ApiConnectorGetAuthUrlV1Request) (*AuthUrlResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AuthUrlResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorGetAuthUrlV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{connector_id_or_name}/auth_url"
	localVarPath = strings.Replace(localVarPath, "{"+"connector_id_or_name"+"}", url.PathEscape(parameterValueToString(r.connectorIdOrName, "connectorIdOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.appReturnUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "app_return_url", r.appReturnUrl, "form", "")
	}
	if r.credentialsName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "credentials_name", r.credentialsName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorGetAuthenticationMethodsV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	connectorIdOrName string
}

func (r ApiConnectorGetAuthenticationMethodsV1Request) Execute() ([]PublicAuthenticationMethod, *http.Response, error) {
	return r.ApiService.ConnectorGetAuthenticationMethodsV1Execute(r)
}

/*
ConnectorGetAuthenticationMethodsV1 Get authentication methods for a connector.

Get the authentication schema for a connector. Returns the list of supported authentication methods and their required headers.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connectorIdOrName
 @return ApiConnectorGetAuthenticationMethodsV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorGetAuthenticationMethodsV1(ctx context.Context, connectorIdOrName string) ApiConnectorGetAuthenticationMethodsV1Request {
	return ApiConnectorGetAuthenticationMethodsV1Request{
		ApiService: a,
		ctx: ctx,
		connectorIdOrName: connectorIdOrName,
	}
}

// Execute executes the request
//  @return []PublicAuthenticationMethod
func (a *BetaConnectorsAPIService) ConnectorGetAuthenticationMethodsV1Execute(r ApiConnectorGetAuthenticationMethodsV1Request) ([]PublicAuthenticationMethod, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PublicAuthenticationMethod
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorGetAuthenticationMethodsV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{connector_id_or_name}/authentication_methods"
	localVarPath = strings.Replace(localVarPath, "{"+"connector_id_or_name"+"}", url.PathEscape(parameterValueToString(r.connectorIdOrName, "connectorIdOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorGetV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	connectorIdOrName string
	fetchCustomerData *bool
	fetchConnectionSecrets *bool
}

// Fetch the customer data associated with the connector (e.g. customer secrets / config).
func (r ApiConnectorGetV1Request) FetchCustomerData(fetchCustomerData bool) ApiConnectorGetV1Request {
	r.fetchCustomerData = &fetchCustomerData
	return r
}

// Fetch the general connection secrets associated with the connector.
func (r ApiConnectorGetV1Request) FetchConnectionSecrets(fetchConnectionSecrets bool) ApiConnectorGetV1Request {
	r.fetchConnectionSecrets = &fetchConnectionSecrets
	return r
}

func (r ApiConnectorGetV1Request) Execute() (*Connector, *http.Response, error) {
	return r.ApiService.ConnectorGetV1Execute(r)
}

/*
ConnectorGetV1 Get a connector.

Get a connector by its ID or name.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connectorIdOrName
 @return ApiConnectorGetV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorGetV1(ctx context.Context, connectorIdOrName string) ApiConnectorGetV1Request {
	return ApiConnectorGetV1Request{
		ApiService: a,
		ctx: ctx,
		connectorIdOrName: connectorIdOrName,
	}
}

// Execute executes the request
//  @return Connector
func (a *BetaConnectorsAPIService) ConnectorGetV1Execute(r ApiConnectorGetV1Request) (*Connector, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Connector
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorGetV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{connector_id_or_name}#idOrName"
	localVarPath = strings.Replace(localVarPath, "{"+"connector_id_or_name"+"}", url.PathEscape(parameterValueToString(r.connectorIdOrName, "connectorIdOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fetchCustomerData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch_customer_data", r.fetchCustomerData, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch_customer_data", defaultValue, "form", "")
		r.fetchCustomerData = &defaultValue
	}
	if r.fetchConnectionSecrets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch_connection_secrets", r.fetchConnectionSecrets, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch_connection_secrets", defaultValue, "form", "")
		r.fetchConnectionSecrets = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorListOrganizationCredentialsV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	connectorIdOrName string
	authType *OutboundAuthenticationType
	fetchDefault *bool
}

func (r ApiConnectorListOrganizationCredentialsV1Request) AuthType(authType OutboundAuthenticationType) ApiConnectorListOrganizationCredentialsV1Request {
	r.authType = &authType
	return r
}

func (r ApiConnectorListOrganizationCredentialsV1Request) FetchDefault(fetchDefault bool) ApiConnectorListOrganizationCredentialsV1Request {
	r.fetchDefault = &fetchDefault
	return r
}

func (r ApiConnectorListOrganizationCredentialsV1Request) Execute() (*CredentialsResponse, *http.Response, error) {
	return r.ApiService.ConnectorListOrganizationCredentialsV1Execute(r)
}

/*
ConnectorListOrganizationCredentialsV1 List organization credentials for a connector.

List all credentials configured at the organization level for a given connector.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connectorIdOrName
 @return ApiConnectorListOrganizationCredentialsV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorListOrganizationCredentialsV1(ctx context.Context, connectorIdOrName string) ApiConnectorListOrganizationCredentialsV1Request {
	return ApiConnectorListOrganizationCredentialsV1Request{
		ApiService: a,
		ctx: ctx,
		connectorIdOrName: connectorIdOrName,
	}
}

// Execute executes the request
//  @return CredentialsResponse
func (a *BetaConnectorsAPIService) ConnectorListOrganizationCredentialsV1Execute(r ApiConnectorListOrganizationCredentialsV1Request) (*CredentialsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CredentialsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorListOrganizationCredentialsV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{connector_id_or_name}/organization/credentials"
	localVarPath = strings.Replace(localVarPath, "{"+"connector_id_or_name"+"}", url.PathEscape(parameterValueToString(r.connectorIdOrName, "connectorIdOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.authType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "auth_type", r.authType, "form", "")
	}
	if r.fetchDefault != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch_default", r.fetchDefault, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch_default", defaultValue, "form", "")
		r.fetchDefault = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorListToolsV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	connectorIdOrName string
	page *int32
	pageSize *int32
	refresh *bool
	pretty *bool
	credentialsName *string
}

func (r ApiConnectorListToolsV1Request) Page(page int32) ApiConnectorListToolsV1Request {
	r.page = &page
	return r
}

func (r ApiConnectorListToolsV1Request) PageSize(pageSize int32) ApiConnectorListToolsV1Request {
	r.pageSize = &pageSize
	return r
}

func (r ApiConnectorListToolsV1Request) Refresh(refresh bool) ApiConnectorListToolsV1Request {
	r.refresh = &refresh
	return r
}

// Return a simplified payload with only name, description, annotations, and a compact inputSchema.
func (r ApiConnectorListToolsV1Request) Pretty(pretty bool) ApiConnectorListToolsV1Request {
	r.pretty = &pretty
	return r
}

func (r ApiConnectorListToolsV1Request) CredentialsName(credentialsName string) ApiConnectorListToolsV1Request {
	r.credentialsName = &credentialsName
	return r
}

func (r ApiConnectorListToolsV1Request) Execute() (*ResponseConnectorListToolsV1, *http.Response, error) {
	return r.ApiService.ConnectorListToolsV1Execute(r)
}

/*
ConnectorListToolsV1 List tools for a connector.

List all tools available for an MCP connector.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connectorIdOrName
 @return ApiConnectorListToolsV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorListToolsV1(ctx context.Context, connectorIdOrName string) ApiConnectorListToolsV1Request {
	return ApiConnectorListToolsV1Request{
		ApiService: a,
		ctx: ctx,
		connectorIdOrName: connectorIdOrName,
	}
}

// Execute executes the request
//  @return ResponseConnectorListToolsV1
func (a *BetaConnectorsAPIService) ConnectorListToolsV1Execute(r ApiConnectorListToolsV1Request) (*ResponseConnectorListToolsV1, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseConnectorListToolsV1
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorListToolsV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{connector_id_or_name}/tools"
	localVarPath = strings.Replace(localVarPath, "{"+"connector_id_or_name"+"}", url.PathEscape(parameterValueToString(r.connectorIdOrName, "connectorIdOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.refresh != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "refresh", r.refresh, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "refresh", defaultValue, "form", "")
		r.refresh = &defaultValue
	}
	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", defaultValue, "form", "")
		r.pretty = &defaultValue
	}
	if r.credentialsName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "credentials_name", r.credentialsName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorListUserCredentialsV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	connectorIdOrName string
	authType *OutboundAuthenticationType
	fetchDefault *bool
}

func (r ApiConnectorListUserCredentialsV1Request) AuthType(authType OutboundAuthenticationType) ApiConnectorListUserCredentialsV1Request {
	r.authType = &authType
	return r
}

func (r ApiConnectorListUserCredentialsV1Request) FetchDefault(fetchDefault bool) ApiConnectorListUserCredentialsV1Request {
	r.fetchDefault = &fetchDefault
	return r
}

func (r ApiConnectorListUserCredentialsV1Request) Execute() (*CredentialsResponse, *http.Response, error) {
	return r.ApiService.ConnectorListUserCredentialsV1Execute(r)
}

/*
ConnectorListUserCredentialsV1 List user credentials for a connector.

List all credentials configured at the user level for a given connector.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connectorIdOrName
 @return ApiConnectorListUserCredentialsV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorListUserCredentialsV1(ctx context.Context, connectorIdOrName string) ApiConnectorListUserCredentialsV1Request {
	return ApiConnectorListUserCredentialsV1Request{
		ApiService: a,
		ctx: ctx,
		connectorIdOrName: connectorIdOrName,
	}
}

// Execute executes the request
//  @return CredentialsResponse
func (a *BetaConnectorsAPIService) ConnectorListUserCredentialsV1Execute(r ApiConnectorListUserCredentialsV1Request) (*CredentialsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CredentialsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorListUserCredentialsV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{connector_id_or_name}/user/credentials"
	localVarPath = strings.Replace(localVarPath, "{"+"connector_id_or_name"+"}", url.PathEscape(parameterValueToString(r.connectorIdOrName, "connectorIdOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.authType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "auth_type", r.authType, "form", "")
	}
	if r.fetchDefault != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch_default", r.fetchDefault, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch_default", defaultValue, "form", "")
		r.fetchDefault = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorListV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	queryFilters *ConnectorsQueryFilters
	cursor *string
	pageSize *int32
}

func (r ApiConnectorListV1Request) QueryFilters(queryFilters ConnectorsQueryFilters) ApiConnectorListV1Request {
	r.queryFilters = &queryFilters
	return r
}

func (r ApiConnectorListV1Request) Cursor(cursor string) ApiConnectorListV1Request {
	r.cursor = &cursor
	return r
}

func (r ApiConnectorListV1Request) PageSize(pageSize int32) ApiConnectorListV1Request {
	r.pageSize = &pageSize
	return r
}

func (r ApiConnectorListV1Request) Execute() (*PaginatedConnectors, *http.Response, error) {
	return r.ApiService.ConnectorListV1Execute(r)
}

/*
ConnectorListV1 List all connectors.

List all your custom connectors with keyset pagination and filters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConnectorListV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorListV1(ctx context.Context) ApiConnectorListV1Request {
	return ApiConnectorListV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedConnectors
func (a *BetaConnectorsAPIService) ConnectorListV1Execute(r ApiConnectorListV1Request) (*PaginatedConnectors, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedConnectors
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorListV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.queryFilters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query_filters", r.queryFilters, "form", "")
	} else {
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorListWorkspaceCredentialsV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	connectorIdOrName string
	authType *OutboundAuthenticationType
	fetchDefault *bool
}

func (r ApiConnectorListWorkspaceCredentialsV1Request) AuthType(authType OutboundAuthenticationType) ApiConnectorListWorkspaceCredentialsV1Request {
	r.authType = &authType
	return r
}

func (r ApiConnectorListWorkspaceCredentialsV1Request) FetchDefault(fetchDefault bool) ApiConnectorListWorkspaceCredentialsV1Request {
	r.fetchDefault = &fetchDefault
	return r
}

func (r ApiConnectorListWorkspaceCredentialsV1Request) Execute() (*CredentialsResponse, *http.Response, error) {
	return r.ApiService.ConnectorListWorkspaceCredentialsV1Execute(r)
}

/*
ConnectorListWorkspaceCredentialsV1 List workspace credentials for a connector.

List all credentials configured at the workspace level for a given connector.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connectorIdOrName
 @return ApiConnectorListWorkspaceCredentialsV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorListWorkspaceCredentialsV1(ctx context.Context, connectorIdOrName string) ApiConnectorListWorkspaceCredentialsV1Request {
	return ApiConnectorListWorkspaceCredentialsV1Request{
		ApiService: a,
		ctx: ctx,
		connectorIdOrName: connectorIdOrName,
	}
}

// Execute executes the request
//  @return CredentialsResponse
func (a *BetaConnectorsAPIService) ConnectorListWorkspaceCredentialsV1Execute(r ApiConnectorListWorkspaceCredentialsV1Request) (*CredentialsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CredentialsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorListWorkspaceCredentialsV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{connector_id_or_name}/workspace/credentials"
	localVarPath = strings.Replace(localVarPath, "{"+"connector_id_or_name"+"}", url.PathEscape(parameterValueToString(r.connectorIdOrName, "connectorIdOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.authType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "auth_type", r.authType, "form", "")
	}
	if r.fetchDefault != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch_default", r.fetchDefault, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch_default", defaultValue, "form", "")
		r.fetchDefault = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorUpdateV1Request struct {
	ctx context.Context
	ApiService *BetaConnectorsAPIService
	connectorId string
	connectorMCPUpdate *ConnectorMCPUpdate
}

func (r ApiConnectorUpdateV1Request) ConnectorMCPUpdate(connectorMCPUpdate ConnectorMCPUpdate) ApiConnectorUpdateV1Request {
	r.connectorMCPUpdate = &connectorMCPUpdate
	return r
}

func (r ApiConnectorUpdateV1Request) Execute() (*Connector, *http.Response, error) {
	return r.ApiService.ConnectorUpdateV1Execute(r)
}

/*
ConnectorUpdateV1 Update a connector.

Update a connector by its ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connectorId
 @return ApiConnectorUpdateV1Request
*/
func (a *BetaConnectorsAPIService) ConnectorUpdateV1(ctx context.Context, connectorId string) ApiConnectorUpdateV1Request {
	return ApiConnectorUpdateV1Request{
		ApiService: a,
		ctx: ctx,
		connectorId: connectorId,
	}
}

// Execute executes the request
//  @return Connector
func (a *BetaConnectorsAPIService) ConnectorUpdateV1Execute(r ApiConnectorUpdateV1Request) (*Connector, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Connector
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaConnectorsAPIService.ConnectorUpdateV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{connector_id}#id"
	localVarPath = strings.Replace(localVarPath, "{"+"connector_id"+"}", url.PathEscape(parameterValueToString(r.connectorId, "connectorId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.connectorMCPUpdate == nil {
		return localVarReturnValue, nil, reportError("connectorMCPUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.connectorMCPUpdate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
