/*
Mistral AI API

Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mistral

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// BetaWorkflowsWorkersAPIService BetaWorkflowsWorkersAPI service
type BetaWorkflowsWorkersAPIService service

type ApiGetWorkerInfoV1WorkflowsWorkersWhoamiGetRequest struct {
	ctx context.Context
	ApiService *BetaWorkflowsWorkersAPIService
}

func (r ApiGetWorkerInfoV1WorkflowsWorkersWhoamiGetRequest) Execute() (*WorkerInfo, *http.Response, error) {
	return r.ApiService.GetWorkerInfoV1WorkflowsWorkersWhoamiGetExecute(r)
}

/*
GetWorkerInfoV1WorkflowsWorkersWhoamiGet Get Worker Info

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetWorkerInfoV1WorkflowsWorkersWhoamiGetRequest
*/
func (a *BetaWorkflowsWorkersAPIService) GetWorkerInfoV1WorkflowsWorkersWhoamiGet(ctx context.Context) ApiGetWorkerInfoV1WorkflowsWorkersWhoamiGetRequest {
	return ApiGetWorkerInfoV1WorkflowsWorkersWhoamiGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return WorkerInfo
func (a *BetaWorkflowsWorkersAPIService) GetWorkerInfoV1WorkflowsWorkersWhoamiGetExecute(r ApiGetWorkerInfoV1WorkflowsWorkersWhoamiGetRequest) (*WorkerInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkerInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaWorkflowsWorkersAPIService.GetWorkerInfoV1WorkflowsWorkersWhoamiGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/workers/whoami"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
