openapi: 3.1.0
info:
  description: "Our Chat Completion and Embeddings APIs specification. Create your\
    \ account on [La Plateforme](https://console.mistral.ai) to get access and read\
    \ the [docs](https://docs.mistral.ai) to learn how to use it."
  title: Mistral AI API
  version: 1.0.0
servers:
- description: Production server
  url: https://api.mistral.ai
security:
- ApiKey: []
tags:
- description: Chat Completion API.
  name: chat
  x-displayName: Chat
- description: Fill-in-the-middle API.
  name: fim
  x-displayName: FIM
- description: Agents API.
  name: agents
  x-displayName: Agents
- description: Embeddings API.
  name: embeddings
  x-displayName: Embeddings
- description: Classifiers API.
  name: classifiers
  x-displayName: Classifiers
- description: Files API
  name: files
  x-displayName: Files
- description: (deprecated) Agents completion API
  name: deprecated.agents
  x-displayName: (deprecated) Agents
- description: (deprecated) Fine-tuning API
  name: deprecated.fine-tuning
  x-displayName: (deprecated) Fine Tuning
- description: Model Management API
  name: models
  x-displayName: Models
- description: Batch API
  name: batch
  x-displayName: Batch
- description: OCR API
  name: ocr
  x-displayName: OCR API
- description: API for audio transcription.
  name: audio.transcriptions
  x-displayName: Transcriptions API
- description: API for text-to-speech generation.
  name: audio.speech
  x-displayName: Speech API
- description: API for managing custom voice profiles.
  name: audio.voices
  x-displayName: Voices API
- description: (beta) Agents API
  name: beta.agents
  x-displayName: (beta) Agents API
- description: (beta) Conversations API
  name: beta.conversations
  x-displayName: (beta) Conversations API
- description: (beta) Libraries API to create and manage libraries - index your documents
    to enhance agent capabilities.
  name: beta.libraries
  x-displayName: (beta) Libraries  API - Main
- description: (beta) Libraries API - manage documents in a library.
  name: beta.libraries.documents
  x-displayName: (beta) Libraries  API - Documents
- description: (beta) Libraries API - manage access to a library.
  name: beta.libraries.accesses
  x-displayName: (beta) Libraries  API - Access
- description: "(beta) Search, retrieve, and analyze chat completion events."
  name: beta.observability.chat_completion_events
  x-displayName: (beta) Observability - Chat completion events
- description: (beta) List and inspect filterable fields for chat completion events.
  name: beta.observability.chat_completion_events.fields
  x-displayName: (beta) Observability - Chat completion fields
- description: "(beta) Create, update, and manage judges for evaluating chat completions."
  name: beta.observability.judges
  x-displayName: (beta) Observability - Judges
- description: (beta) Create and manage evaluation campaigns.
  name: beta.observability.campaigns
  x-displayName: (beta) Observability - Campaigns
- description: "(beta) Create, update, import, and export datasets."
  name: beta.observability.datasets
  x-displayName: (beta) Observability - Datasets
- description: (beta) Manage individual records within datasets.
  name: beta.observability.datasets.records
  x-displayName: (beta) Observability - Dataset records
- description: Workflow management API.
  name: beta.workflows
  x-displayName: Workflows
- description: "Trigger, monitor, and control workflow executions."
  name: beta.workflows.executions
  x-displayName: Executions
- description: List and inspect individual workflow runs.
  name: beta.workflows.runs
  x-displayName: Runs
- description: Create and manage workflow schedules.
  name: beta.workflows.schedules
  x-displayName: Schedules
- description: List and inspect worker deployments.
  name: beta.workflows.deployments
  x-displayName: Deployments
- description: Stream and list workflow execution events.
  name: beta.workflows.events
  x-displayName: Events
- description: Get performance metrics for workflows.
  name: beta.workflows.metrics
  x-displayName: Metrics
- description: Worker connection info.
  name: beta.workflows.workers
  x-displayName: Workers
- description: (beta) Connectors
  name: beta.connectors
  x-displayName: (beta) Connectors
paths:
  /v1/models:
    get:
      description: List all models available to the user.
      operationId: list_models_v1_models_get
      parameters:
      - explode: true
        in: query
        name: provider
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: model
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                userExample:
                  value:
                  - id: <model_id>
                    capabilities:
                      completion_chat: true
                      completion_fim: false
                      function_calling: false
                      fine_tuning: false
                      vision: false
                      classification: false
                    job: <job_id>
                    root: open-mistral-7b
                    object: model
                    created: 1756746619
                    owned_by: <owner_id>
                    name: null
                    description: null
                    max_context_length: 32768
                    aliases: []
                    deprecation: null
                    deprecation_replacement_model: null
                    default_model_temperature: null
                    TYPE: fine-tuned
                    archived: false
              schema:
                $ref: "#/components/schemas/ModelList"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: List Models
      tags:
      - models
  /v1/models/{model_id}:
    delete:
      description: Delete a fine-tuned model.
      operationId: delete_model_v1_models__model_id__delete
      parameters:
      - description: The ID of the model to delete.
        example: ft:open-mistral-7b:587a6b29:20240514:7e773925
        explode: false
        in: path
        name: model_id
        required: true
        schema:
          title: Model Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                userExample:
                  value:
                    id: ft:open-mistral-7b:587a6b29:20240514:7e773925
                    object: model
                    deleted: true
              schema:
                $ref: "#/components/schemas/DeleteModelOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Delete Model
      tags:
      - models
    get:
      description: Retrieve information about a model.
      operationId: retrieve_model_v1_models__model_id__get
      parameters:
      - description: The ID of the model to retrieve.
        example: ft:open-mistral-7b:587a6b29:20240514:7e773925
        explode: false
        in: path
        name: model_id
        required: true
        schema:
          title: Model Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                userExample:
                  value:
                    id: <your_model_id>
                    capabilities:
                      completion_chat: true
                      completion_fim: false
                      function_calling: false
                      fine_tuning: false
                      vision: false
                      classification: false
                    job: <job_id>
                    root: open-mistral-7b
                    object: model
                    created: 1756746619
                    owned_by: <owner_id>
                    name: null
                    description: null
                    max_context_length: 32768
                    aliases: []
                    deprecation: null
                    deprecation_replacement_model: null
                    default_model_temperature: null
                    TYPE: fine-tuned
                    archived: false
              schema:
                $ref: "#/components/schemas/Response_Retrieve_Model_V1_Models__Model_Id__Get"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve Model
      tags:
      - models
  /v1/conversations:
    get:
      description: Retrieve a list of conversation entities sorted by creation time.
      operationId: agents_api_v1_conversations_list
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          title: Page Size
          type: integer
        style: form
      - content:
          application/json:
            schema:
              anyOf:
              - additionalProperties: {}
              - {}
              title: Metadata
        in: query
        name: metadata
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Response_V1_Conversations_List_inner"
                title: Response V1 Conversations List
                type: array
                default: null
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: List all created conversations.
      tags:
      - beta.conversations
    post:
      description: "Create a new conversation, using a base model or an agent and\
        \ append entries. Completion and tool executions are run and the response\
        \ is appended to the conversation.Use the returned conversation_id to continue\
        \ the conversation."
      operationId: agents_api_v1_conversations_start
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Create a conversation and append entries to it.
      tags:
      - beta.conversations
  /v1/conversations/{conversation_id}:
    delete:
      description: Delete a conversation given a conversation_id.
      operationId: agents_api_v1_conversations_delete
      parameters:
      - description: ID of the conversation from which we are fetching metadata.
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          description: ID of the conversation from which we are fetching metadata.
          title: Conversation Id
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Delete a conversation.
      tags:
      - beta.conversations
    get:
      description: Given a conversation_id retrieve a conversation entity with its
        attributes.
      operationId: agents_api_v1_conversations_get
      parameters:
      - description: ID of the conversation from which we are fetching metadata.
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          description: ID of the conversation from which we are fetching metadata.
          title: Conversation Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response_V1_Conversations_Get"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve a conversation information.
      tags:
      - beta.conversations
    post:
      description: Run completion on the history of the conversation and the user
        entries. Return the new created entries.
      operationId: agents_api_v1_conversations_append
      parameters:
      - description: ID of the conversation to which we append entries.
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          description: ID of the conversation to which we append entries.
          title: Conversation Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationAppendRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Append new entries to an existing conversation.
      tags:
      - beta.conversations
  /v1/conversations/{conversation_id}/history:
    get:
      description: "Given a conversation_id retrieve all the entries belonging to\
        \ that conversation. The entries are sorted in the order they were appended,\
        \ those can be messages, connectors or function_call."
      operationId: agents_api_v1_conversations_history
      parameters:
      - description: ID of the conversation from which we are fetching entries.
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          description: ID of the conversation from which we are fetching entries.
          title: Conversation Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationHistory"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve all entries in a conversation.
      tags:
      - beta.conversations
  /v1/conversations/{conversation_id}/messages:
    get:
      description: Given a conversation_id retrieve all the messages belonging to
        that conversation. This is similar to retrieving all entries except we filter
        the messages only.
      operationId: agents_api_v1_conversations_messages
      parameters:
      - description: ID of the conversation from which we are fetching messages.
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          description: ID of the conversation from which we are fetching messages.
          title: Conversation Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationMessages"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve all messages in a conversation.
      tags:
      - beta.conversations
  /v1/conversations/{conversation_id}/restart:
    post:
      description: "Given a conversation_id and an id, recreate a conversation from\
        \ this point and run completion. A new conversation is returned with the new\
        \ entries returned."
      operationId: agents_api_v1_conversations_restart
      parameters:
      - description: ID of the original conversation which is being restarted.
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          description: ID of the original conversation which is being restarted.
          title: Conversation Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationRestartRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Restart a conversation starting from a given entry.
      tags:
      - beta.conversations
  /v1/agents:
    get:
      deprecated: true
      description: "Retrieve a list of agent entities sorted by creation time. Deprecated:\
        \ some features such as agent sharing are not supported by this endpoint.\
        \ Use the cursor-paginated `GET /v1/agents/pages` instead."
      operationId: agents_api_v1_agents_list
      parameters:
      - description: Page number (0-indexed)
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          description: Page number (0-indexed)
          minimum: 0
          title: Page
          type: integer
        style: form
      - description: Number of agents per page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          description: Number of agents per page
          maximum: 1000
          minimum: 1
          title: Page Size
          type: integer
        style: form
      - explode: true
        in: query
        name: deployment_chat
        required: false
        schema:
          description: "Filter by archived state. False=exclude archived, True=only\
            \ archived, None=include all"
          nullable: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: sources
        required: false
        schema:
          items:
            $ref: "#/components/schemas/RequestSource"
          nullable: true
          type: array
          default: null
        style: form
      - description: Filter by agent name
        explode: true
        in: query
        name: name
        required: false
        schema:
          description: Filter by agent name
          nullable: true
          type: string
        style: form
      - description: Search agents by name or ID
        explode: true
        in: query
        name: search
        required: false
        schema:
          description: Filter by agent name
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          description: Filter by agent name
          nullable: true
          type: string
        style: form
      - content:
          application/json:
            schema:
              anyOf:
              - additionalProperties: true
                description: Output JSON schema of the query's model
                nullable: true
                type: object
              - {}
              title: Metadata
        in: query
        name: metadata
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Agent"
                title: Response V1 Agents List
                type: array
                default: null
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: List agent entities.
      tags:
      - beta.agents
      x-speakeasy-deprecation-message: Some features such as agent sharing are not
        supported by this endpoint.
      x-speakeasy-deprecation-replacement: v1_agents_list_pages
    post:
      description: "Create a new agent giving it instructions, tools, description.\
        \ The agent is then available to be used as a regular assistant in a conversation\
        \ or as part of an agent pool from which it can be used."
      operationId: agents_api_v1_agents_create
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentCreationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Create a agent that can be used within a conversation.
      tags:
      - beta.agents
  /v1/agents/{agent_id}:
    delete:
      operationId: agents_api_v1_agents_delete
      parameters:
      - explode: false
        in: path
        name: agent_id
        required: true
        schema:
          title: Agent Id
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Delete an agent entity.
      tags:
      - beta.agents
    get:
      description: "Given an agent, retrieve an agent entity with its attributes.\
        \ The agent_version parameter can be an integer version number or a string\
        \ alias."
      operationId: agents_api_v1_agents_get
      parameters:
      - explode: false
        in: path
        name: agent_id
        required: true
        schema:
          title: Agent Id
          type: string
        style: simple
      - explode: true
        in: query
        name: agent_version
        required: false
        schema:
          $ref: "#/components/schemas/Agent_Version"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve an agent entity.
      tags:
      - beta.agents
    patch:
      description: Update an agent attributes and create a new version.
      operationId: agents_api_v1_agents_update
      parameters:
      - explode: false
        in: path
        name: agent_id
        required: true
        schema:
          title: Agent Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentUpdateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Update an agent entity.
      tags:
      - beta.agents
  /v1/agents/pages:
    get:
      description: "Retrieve a page of agent entities. Unlike the deprecated `GET\
        \ /v1/agents`, this endpoint paginates by opaque cursor and honors per-agent\
        \ sharing, returning only agents the caller is authorized to see."
      operationId: agents_api_v1_agents_list_pages
      parameters:
      - description: Number of agents per page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          description: Number of agents per page
          maximum: 1000
          minimum: 1
          title: Page Size
          type: integer
        style: form
      - explode: true
        in: query
        name: deployment_chat
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: sources
        required: false
        schema:
          items:
            $ref: "#/components/schemas/RequestSource"
          nullable: true
          type: array
          default: null
        style: form
      - description: Filter by agent name
        explode: true
        in: query
        name: name
        required: false
        schema:
          description: Filter by agent name
          nullable: true
          type: string
        style: form
      - description: Search agents by name or ID
        explode: true
        in: query
        name: search
        required: false
        schema:
          description: Search agents by name or ID
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - content:
          application/json:
            schema:
              anyOf:
              - additionalProperties: true
              - {}
              title: Metadata
        in: query
        name: metadata
        required: false
      - description: "Opaque cursor from a previous response's next_page_token. When\
          \ set, results page forward from the cursor."
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Filter by agent name
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentListPage"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: "List agent entities, cursor-paginated."
      tags:
      - beta.agents
      x-speakeasy-pagination:
        type: cursor
        inputs:
        - name: page_token
          in: parameters
          type: cursor
        - name: page_size
          in: parameters
          type: limit
        outputs:
          results: $.data
          nextCursor: $.next_page_token
  /v1/agents/{agent_id}/version:
    patch:
      description: Switch the version of an agent.
      operationId: agents_api_v1_agents_update_version
      parameters:
      - explode: false
        in: path
        name: agent_id
        required: true
        schema:
          title: Agent Id
          type: string
        style: simple
      - explode: true
        in: query
        name: version
        required: true
        schema:
          title: Version
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Update an agent version.
      tags:
      - beta.agents
  /v1/agents/{agent_id}/versions:
    get:
      description: Retrieve all versions for a specific agent with full agent context.
        Supports pagination.
      operationId: agents_api_v1_agents_list_versions
      parameters:
      - explode: false
        in: path
        name: agent_id
        required: true
        schema:
          title: Agent Id
          type: string
        style: simple
      - description: Page number (0-indexed)
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          description: Page number (0-indexed)
          minimum: 0
          title: Page
          type: integer
        style: form
      - description: Number of versions per page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          description: Number of versions per page
          maximum: 100
          minimum: 1
          title: Page Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Agent"
                title: Response V1 Agents List Versions
                type: array
                default: null
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: List all versions of an agent.
      tags:
      - beta.agents
  /v1/agents/{agent_id}/versions/{version}:
    get:
      description: Get a specific agent version by version number.
      operationId: agents_api_v1_agents_get_version
      parameters:
      - explode: false
        in: path
        name: agent_id
        required: true
        schema:
          title: Agent Id
          type: string
        style: simple
      - explode: false
        in: path
        name: version
        required: true
        schema:
          title: Version
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve a specific version of an agent.
      tags:
      - beta.agents
  /v1/agents/{agent_id}/aliases:
    delete:
      description: Delete an existing alias for an agent.
      operationId: agents_api_v1_agents_delete_alias
      parameters:
      - explode: false
        in: path
        name: agent_id
        required: true
        schema:
          title: Agent Id
          type: string
        style: simple
      - explode: true
        in: query
        name: alias
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-z]([a-z0-9_-]*[a-z0-9])?$"
          title: Alias
          type: string
        style: form
      responses:
        "204":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Delete an agent version alias.
      tags:
      - beta.agents
    get:
      description: Retrieve all version aliases for a specific agent.
      operationId: agents_api_v1_agents_list_version_aliases
      parameters:
      - explode: false
        in: path
        name: agent_id
        required: true
        schema:
          title: Agent Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AgentAliasResponse"
                title: Response V1 Agents List Version Aliases
                type: array
                default: null
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: List all aliases for an agent.
      tags:
      - beta.agents
    put:
      description: Create a new alias or update an existing alias to point to a specific
        version. Aliases are unique per agent and can be reassigned to different versions.
      operationId: agents_api_v1_agents_create_or_update_alias
      parameters:
      - explode: false
        in: path
        name: agent_id
        required: true
        schema:
          title: Agent Id
          type: string
        style: simple
      - explode: true
        in: query
        name: alias
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-z]([a-z0-9_-]*[a-z0-9])?$"
          title: Alias
          type: string
        style: form
      - explode: true
        in: query
        name: version
        required: true
        schema:
          title: Version
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentAliasResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Create or update an agent version alias.
      tags:
      - beta.agents
  /v1/conversations#stream:
    post:
      description: "Create a new conversation, using a base model or an agent and\
        \ append entries. Completion and tool executions are run and the response\
        \ is appended to the conversation.Use the returned conversation_id to continue\
        \ the conversation."
      operationId: agents_api_v1_conversations_start_stream
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationStreamRequest"
        required: true
      responses:
        "200":
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/ConversationEvents"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Create a conversation and append entries to it.
      tags:
      - beta.conversations
  /v1/conversations/{conversation_id}#stream:
    post:
      description: Run completion on the history of the conversation and the user
        entries. Return the new created entries.
      operationId: agents_api_v1_conversations_append_stream
      parameters:
      - description: ID of the conversation to which we append entries.
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          description: ID of the conversation to which we append entries.
          title: Conversation Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationAppendStreamRequest"
        required: true
      responses:
        "200":
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/ConversationEvents"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Append new entries to an existing conversation.
      tags:
      - beta.conversations
  /v1/conversations/{conversation_id}/restart#stream:
    post:
      description: "Given a conversation_id and an id, recreate a conversation from\
        \ this point and run completion. A new conversation is returned with the new\
        \ entries returned."
      operationId: agents_api_v1_conversations_restart_stream
      parameters:
      - description: ID of the original conversation which is being restarted.
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          description: ID of the original conversation which is being restarted.
          title: Conversation Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationRestartStreamRequest"
        required: true
      responses:
        "200":
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/ConversationEvents"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Restart a conversation starting from a given entry.
      tags:
      - beta.conversations
  /v1/files:
    get:
      description: Returns a list of files that belong to the user's organization.
      operationId: files_api_routes_list_files
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          title: Page Size
          type: integer
        style: form
      - explode: true
        in: query
        name: include_total
        required: false
        schema:
          default: true
          title: Include Total
          type: boolean
        style: form
      - explode: true
        in: query
        name: sample_type
        required: false
        schema:
          items:
            $ref: "#/components/schemas/SampleType"
          nullable: true
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: source
        required: false
        schema:
          items:
            $ref: "#/components/schemas/Source"
          nullable: true
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          description: Filter by agent name
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: purpose
        required: false
        schema:
          allOf:
          - $ref: "#/components/schemas/FilePurpose"
          nullable: true
        style: form
      - explode: true
        in: query
        name: mimetypes
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                userExample:
                  value:
                    data:
                    - id: <your_file_id>
                      object: file
                      bytes: null
                      created_at: 1759491994
                      filename: <your_file_name>
                      purpose: batch
                      sample_type: batch_result
                      source: mistral
                      num_lines: 2
                      mimetype: application/jsonl
                      signature: null
                    - id: <your_file_id>
                      object: file
                      bytes: null
                      created_at: 1759491994
                      filename: <your_file_name>
                      purpose: batch
                      sample_type: batch_result
                      source: mistral
                      num_lines: 2
                      mimetype: application/jsonl
                      signature: null
                    object: list
                    total: 2
              schema:
                $ref: "#/components/schemas/ListFilesOut"
          description: OK
      summary: List Files
      tags:
      - files
    post:
      description: |-
        Upload a file that can be used across various endpoints.

        The size of individual files can be a maximum of 512 MB. The Fine-tuning API only supports .jsonl files.

        Please contact us if you need to increase these storage limits.
      operationId: files_api_routes_upload_file
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/MultiPartBodyParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                userExample:
                  value:
                    id: e85980c9-409e-4a46-9304-36588f6292b0
                    object: file
                    bytes: null
                    created_at: 1759500189
                    filename: example.file.jsonl
                    purpose: fine-tune
                    sample_type: instruct
                    source: upload
                    num_lines: 2
                    mimetype: application/jsonl
                    signature: d4821d2de1917341
              schema:
                $ref: "#/components/schemas/UploadFileOut"
          description: OK
      summary: Upload File
      tags:
      - files
  /v1/files/{file_id}:
    delete:
      description: Delete a file.
      operationId: files_api_routes_delete_file
      parameters:
      - explode: false
        in: path
        name: file_id
        required: true
        schema:
          format: uuid
          title: File Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                userExample:
                  value:
                    id: e85980c9-409e-4a46-9304-36588f6292b0
                    object: file
                    deleted: true
              schema:
                $ref: "#/components/schemas/DeleteFileOut"
          description: OK
      summary: Delete File
      tags:
      - files
    get:
      description: Returns information about a specific file.
      operationId: files_api_routes_retrieve_file
      parameters:
      - explode: false
        in: path
        name: file_id
        required: true
        schema:
          format: uuid
          title: File Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                userExample:
                  value:
                    id: e85980c9-409e-4a46-9304-36588f6292b0
                    object: file
                    bytes: null
                    created_at: 1759500189
                    filename: example.file.jsonl
                    purpose: fine-tune
                    sample_type: instruct
                    source: upload
                    deleted: false
                    num_lines: 2
                    mimetype: application/jsonl
                    signature: d4821d2de1917341
              schema:
                $ref: "#/components/schemas/RetrieveFileOut"
          description: OK
      summary: Retrieve File
      tags:
      - files
  /v1/files/{file_id}/content:
    get:
      description: Download a file
      operationId: files_api_routes_download_file
      parameters:
      - explode: false
        in: path
        name: file_id
        required: true
        schema:
          format: uuid
          title: File Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: OK
      summary: Download File
      tags:
      - files
  /v1/files/{file_id}/url:
    get:
      operationId: files_api_routes_get_signed_url
      parameters:
      - explode: false
        in: path
        name: file_id
        required: true
        schema:
          format: uuid
          title: File Id
          type: string
        style: simple
      - description: Number of hours before the url becomes invalid. Defaults to 24h
        explode: true
        in: query
        name: expiry
        required: false
        schema:
          default: 24
          description: Number of hours before the url becomes invalid. Defaults to
            24h
          title: Expiry
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                userExample:
                  value:
                    url: https://mistralaifilesapiprodswe.blob.core.windows.net/fine-tune/.../.../e85980c9409e4a46930436588f6292b0.jsonl?se=2025-10-04T14%3A16%3A17Z&sp=r&sv=2025-01-05&sr=b&sig=...
              schema:
                $ref: "#/components/schemas/FileSignedURL"
          description: OK
      summary: Get Signed Url
      tags:
      - files
  /v1/fine_tuning/jobs:
    get:
      description: Get a list of fine-tuning jobs for your organization and user.
      operationId: jobs_api_routes_fine_tuning_get_fine_tuning_jobs
      parameters:
      - description: The page number of the results to be returned.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          title: Page
          type: integer
        style: form
      - description: The number of items to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          title: Page Size
          type: integer
        style: form
      - description: "The model name used for fine-tuning to filter on. When set,\
          \ the other results are not displayed."
        explode: true
        in: query
        name: model
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "The date/time to filter on. When set, the results for previous\
          \ creation times are not displayed."
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          description: Filter workflows started after this time (ISO 8601)
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: created_before
        required: false
        schema:
          description: Filter workflows started after this time (ISO 8601)
          format: date-time
          nullable: true
          type: string
        style: form
      - description: "When set, only return results for jobs created by the API caller.\
          \ Other results are not displayed."
        explode: true
        in: query
        name: created_by_me
        required: false
        schema:
          default: false
          title: Created By Me
          type: boolean
        style: form
      - description: "The current job state to filter on. When set, the other results\
          \ are not displayed."
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - QUEUED
          - STARTED
          - VALIDATING
          - VALIDATED
          - RUNNING
          - FAILED_VALIDATION
          - FAILED
          - SUCCESS
          - CANCELLED
          - CANCELLATION_REQUESTED
          nullable: true
          type: string
        style: form
      - description: "The Weights and Biases project to filter on. When set, the other\
          \ results are not displayed."
        explode: true
        in: query
        name: wandb_project
        required: false
        schema:
          description: Filter by agent name
          nullable: true
          type: string
        style: form
      - description: "The Weight and Biases run name to filter on. When set, the other\
          \ results are not displayed."
        explode: true
        in: query
        name: wandb_name
        required: false
        schema:
          description: Filter by agent name
          nullable: true
          type: string
        style: form
      - description: "The model suffix to filter on. When set, the other results are\
          \ not displayed."
        explode: true
        in: query
        name: suffix
        required: false
        schema:
          description: Filter by agent name
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobsOut"
          description: OK
      summary: Get Fine Tuning Jobs
      tags:
      - deprecated.fine-tuning
    post:
      description: "Create a new fine-tuning job, it will be queued for processing."
      operationId: jobs_api_routes_fine_tuning_create_fine_tuning_job
      parameters:
      - description: |
          * If `true` the job is not spawned, instead the query returns a handful of useful metadata
            for the user to perform sanity checks (see `LegacyJobMetadataOut` response).
          * Otherwise, the job is started and the query returns the job ID along with some of the
            input parameters (see `JobOut` response).
        explode: true
        in: query
        name: dry_run
        required: false
        schema:
          description: "Filter by archived state. False=exclude archived, True=only\
            \ archived, None=include all"
          nullable: true
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
          description: OK
      summary: Create Fine Tuning Job
      tags:
      - deprecated.fine-tuning
  /v1/fine_tuning/jobs/{job_id}:
    get:
      description: Get a fine-tuned job details by its UUID.
      operationId: jobs_api_routes_fine_tuning_get_fine_tuning_job
      parameters:
      - description: The ID of the job to analyse.
        explode: false
        in: path
        name: job_id
        required: true
        schema:
          format: uuid
          title: Job Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response_1"
          description: OK
      summary: Get Fine Tuning Job
      tags:
      - deprecated.fine-tuning
  /v1/fine_tuning/jobs/{job_id}/cancel:
    post:
      description: Request the cancellation of a fine tuning job.
      operationId: jobs_api_routes_fine_tuning_cancel_fine_tuning_job
      parameters:
      - description: The ID of the job to cancel.
        explode: false
        in: path
        name: job_id
        required: true
        schema:
          format: uuid
          title: Job Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response_1"
          description: OK
      summary: Cancel Fine Tuning Job
      tags:
      - deprecated.fine-tuning
  /v1/fine_tuning/jobs/{job_id}/start:
    post:
      description: Request the start of a validated fine tuning job.
      operationId: jobs_api_routes_fine_tuning_start_fine_tuning_job
      parameters:
      - explode: false
        in: path
        name: job_id
        required: true
        schema:
          format: uuid
          title: Job Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response_1"
          description: OK
      summary: Start Fine Tuning Job
      tags:
      - deprecated.fine-tuning
  /v1/fine_tuning/models/{model_id}:
    patch:
      description: Update a model name or description.
      operationId: jobs_api_routes_fine_tuning_update_fine_tuned_model
      parameters:
      - description: The ID of the model to update.
        example: ft:open-mistral-7b:587a6b29:20240514:7e773925
        explode: false
        in: path
        name: model_id
        required: true
        schema:
          title: Model Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateFTModelIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response_2"
          description: OK
      summary: Update Fine Tuned Model
      tags:
      - models
  /v1/fine_tuning/models/{model_id}/archive:
    delete:
      description: Un-archive a fine-tuned model.
      operationId: jobs_api_routes_fine_tuning_unarchive_fine_tuned_model
      parameters:
      - description: The ID of the model to unarchive.
        example: ft:open-mistral-7b:587a6b29:20240514:7e773925
        explode: false
        in: path
        name: model_id
        required: true
        schema:
          title: Model Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnarchiveFTModelOut"
          description: OK
      summary: Unarchive Fine Tuned Model
      tags:
      - models
    post:
      description: Archive a fine-tuned model.
      operationId: jobs_api_routes_fine_tuning_archive_fine_tuned_model
      parameters:
      - description: The ID of the model to archive.
        example: ft:open-mistral-7b:587a6b29:20240514:7e773925
        explode: false
        in: path
        name: model_id
        required: true
        schema:
          title: Model Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArchiveFTModelOut"
          description: OK
      summary: Archive Fine Tuned Model
      tags:
      - models
  /v1/batch/jobs:
    get:
      description: Get a list of batch jobs for your organization and user.
      operationId: jobs_api_routes_batch_get_batch_jobs
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          title: Page Size
          type: integer
        style: form
      - explode: true
        in: query
        name: model
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: agent_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: metadata
        required: false
        schema:
          additionalProperties: true
          nullable: true
          type: object
        style: form
      - explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: created_by_me
        required: false
        schema:
          default: false
          title: Created By Me
          type: boolean
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          items:
            $ref: "#/components/schemas/BatchJobStatus"
          nullable: true
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: order_by
        required: false
        schema:
          default: -created
          enum:
          - created
          - -created
          title: Order By
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchJobsOut"
          description: OK
      summary: Get Batch Jobs
      tags:
      - batch
    post:
      description: "Create a new batch job, it will be queued for processing."
      operationId: jobs_api_routes_batch_create_batch_job
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchJobIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchJobOut"
          description: OK
      summary: Create Batch Job
      tags:
      - batch
  /v1/batch/jobs/{job_id}:
    get:
      description: |-
        Get a batch job details by its UUID.

        Args:
            inline: If True, return results inline in the response.
      operationId: jobs_api_routes_batch_get_batch_job
      parameters:
      - explode: false
        in: path
        name: job_id
        required: true
        schema:
          format: uuid
          title: Job Id
          type: string
        style: simple
      - explode: true
        in: query
        name: inline
        required: false
        schema:
          description: "Filter by archived state. False=exclude archived, True=only\
            \ archived, None=include all"
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchJobOut"
          description: OK
      summary: Get Batch Job
      tags:
      - batch
  /v1/batch/jobs/{job_id}/cancel:
    post:
      description: Request the cancellation of a batch job.
      operationId: jobs_api_routes_batch_cancel_batch_job
      parameters:
      - explode: false
        in: path
        name: job_id
        required: true
        schema:
          format: uuid
          title: Job Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchJobOut"
          description: OK
      summary: Cancel Batch Job
      tags:
      - batch
  /v1/chat/completions:
    post:
      operationId: chat_completion_v1_chat_completions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletionResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/CompletionEvent"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Chat Completion
      tags:
      - chat
  /v1/fim/completions:
    post:
      description: FIM completion.
      operationId: fim_completion_v1_fim_completions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FIMCompletionRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                userExample:
                  value:
                    id: 447e3e0d457e42e98248b5d2ef52a2a3
                    object: chat.completion
                    model: codestral-2508
                    usage:
                      prompt_tokens: 8
                      completion_tokens: 91
                      total_tokens: 99
                    created: 1759496862
                    choices:
                    - index: 0
                      message:
                        content: |
                          add_numbers(a: int, b: int) -> int:
                              """
                              You are given two integers `a` and `b`. Your task is to write a function that
                              returns the sum of these two integers. The function should be implemented in a
                              way that it can handle very large integers (up to 10^18). As a reminder, your
                              code has to be in python
                              """
                        tool_calls: null
                        prefix: false
                        role: assistant
                      finish_reason: stop
              schema:
                $ref: "#/components/schemas/FIMCompletionResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/CompletionEvent"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Fim Completion
      tags:
      - fim
  /v1/agents/completions:
    post:
      deprecated: true
      operationId: agents_completion_v1_agents_completions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentsCompletionRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                userExample:
                  value:
                    id: cf79f7daaee244b1a0ae5c7b1444424a
                    object: chat.completion
                    model: mistral-medium-latest
                    usage:
                      prompt_tokens: 24
                      completion_tokens: 27
                      total_tokens: 51
                      prompt_audio_seconds: {}
                    created: 1759500534
                    choices:
                    - index: 0
                      message:
                        content: "Arrr, the scallywag Claude Monet be the finest French\
                          \ painter to ever splash colors on a canvas, savvy?"
                        tool_calls: null
                        prefix: false
                        role: assistant
                      finish_reason: stop
              schema:
                $ref: "#/components/schemas/ChatCompletionResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Agents Completion
      tags:
      - deprecated.agents
  /v1/embeddings:
    post:
      description: Embeddings
      operationId: embeddings_v1_embeddings_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmbeddingRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                userExample:
                  value:
                    data:
                    - embedding:
                      - -0.016632080078125
                      - 0.0701904296875
                      - 0.03143310546875
                      - 0.01309967041015625
                      - 0.0202789306640625
                      index: 0
                      object: embedding
                    - embedding:
                      - -0.0230560302734375
                      - 0.039337158203125
                      - 0.0521240234375
                      - -0.0184783935546875
                      - 0.034271240234375
                      index: 1
                      object: embedding
                    model: mistral-embed
                    object: list
                    usage:
                      prompt_tokens: 15
                      completion_tokens: 0
                      total_tokens: 15
                      prompt_audio_seconds: null
              schema:
                $ref: "#/components/schemas/EmbeddingResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Embeddings
      tags:
      - embeddings
  /v1/moderations:
    post:
      operationId: moderations_v1_moderations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClassificationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                userExample:
                  value:
                    id: 4d71ae510af942108ef7344f903e2b88
                    model: mistral-moderation-latest
                    results:
                    - categories:
                        sexual: false
                        hate_and_discrimination: false
                        violence_and_threats: false
                        dangerous_and_criminal_content: false
                        selfharm: false
                        health: false
                        financial: false
                        law: false
                        pii: false
                      category_scores:
                        sexual: 0.0011335690505802631
                        hate_and_discrimination: 0.0030753696337342262
                        violence_and_threats: 3.569706459529698E-4
                        dangerous_and_criminal_content: 0.002251847181469202
                        selfharm: 1.7952796770259738E-4
                        health: 2.780309587251395E-4
                        financial: 8.481103577651083E-5
                        law: 4.539786823443137E-5
                        pii: 0.0023967307060956955
                    - categories:
                        sexual: false
                        hate_and_discrimination: false
                        violence_and_threats: false
                        dangerous_and_criminal_content: false
                        selfharm: false
                        health: false
                        financial: false
                        law: false
                        pii: false
                      category_scores:
                        sexual: 6.26334105618298E-4
                        hate_and_discrimination: 0.0013670255430042744
                        violence_and_threats: 2.611903182696551E-4
                        dangerous_and_criminal_content: 0.0030753696337342262
                        selfharm: 1.0889690747717395E-4
                        health: 1.5843621804378927E-4
                        financial: 1.91104321856983E-4
                        law: 4.006369272246957E-5
                        pii: 0.0035936026833951473
              schema:
                $ref: "#/components/schemas/ModerationResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Moderations
      tags:
      - classifiers
  /v1/chat/moderations:
    post:
      operationId: chat_moderations_v1_chat_moderations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatModerationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                userExample:
                  value:
                    id: 352bce1a55814127a3b0bc4fb8f02a35
                    model: mistral-moderation-latest
                    results:
                    - categories:
                        sexual: false
                        hate_and_discrimination: false
                        violence_and_threats: false
                        dangerous_and_criminal_content: false
                        selfharm: false
                        health: false
                        financial: false
                        law: false
                        pii: false
                      category_scores:
                        sexual: 0.0010322310263291001
                        hate_and_discrimination: 0.001597845577634871
                        violence_and_threats: 2.0342698553577065E-4
                        dangerous_and_criminal_content: 0.0029810327105224133
                        selfharm: 1.7952796770259738E-4
                        health: 2.959570847451687E-4
                        financial: 7.9673009167891E-5
                        law: 4.539786823443137E-5
                        pii: 0.004198795650154352
              schema:
                $ref: "#/components/schemas/ModerationResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Chat Moderations
      tags:
      - classifiers
  /v1/ocr:
    post:
      operationId: ocr_v1_ocr_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OCRRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                userExample:
                  value:
                    pages:
                    - index: 1
                      markdown: |
                        # LEVERAGING UNLABELED DATA TO PREDICT OUT-OF-DISTRIBUTION PERFORMANCE
                        Saurabh Garg*<br> Carnegie Mellon University<br> sgarg2@andrew.cmu.edu<br> Sivaraman Balakrishnan<br> Carnegie Mellon University<br> sbalakri@andrew.cmu.edu<br> Zachary C. Lipton<br> Carnegie Mellon University<br> zlipton@andrew.cmu.edu
                        ## Behnam Neyshabur
                        Google Research, Blueshift team<br> neyshabur@google.com
                        Hanie Sedghi<br> Google Research, Brain team<br> hsedghi@google.com
                        #### Abstract
                        Real-world machine learning deployments are characterized by mismatches between the source (training) and target (test) distributions that may cause performance drops. In this work, we investigate methods for predicting the target domain accuracy using only labeled source data and unlabeled target data. We propose Average Thresholded Confidence (ATC), a practical method that learns a threshold on the model's confidence, predicting accuracy as the fraction of unlabeled examples for which model confidence exceeds that threshold. ATC outperforms previous methods across several model architectures, types of distribution shifts (e.g., due to synthetic corruptions, dataset reproduction, or novel subpopulations), and datasets (WILDS, ImageNet, BREEDS, CIFAR, and MNIST). In our experiments, ATC estimates target performance $2-4 \times$ more accurately than prior methods. We also explore the theoretical foundations of the problem, proving that, in general, identifying the accuracy is just as hard as identifying the optimal predictor and thus, the efficacy of any method rests upon (perhaps unstated) assumptions on the nature of the shift. Finally, analyzing our method on some toy distributions, we provide insights concerning when it works ${ }^{1}$.
                        ## 1 INTRODUCTION
                        Machine learning models deployed in the real world typically encounter examples from previously unseen distributions. While the IID assumption enables us to evaluate models using held-out data from the source distribution (from which training data is sampled), this estimate is no longer valid in presence of a distribution shift. Moreover, under such shifts, model accuracy tends to degrade (Szegedy et al., 2014; Recht et al., 2019; Koh et al., 2021). Commonly, the only data available to the practitioner are a labeled training set (source) and unlabeled deployment-time data which makes the problem more difficult. In this setting, detecting shifts in the distribution of covariates is known to be possible (but difficult) in theory (Ramdas et al., 2015), and in practice (Rabanser et al., 2018). However, producing an optimal predictor using only labeled source and unlabeled target data is well-known to be impossible absent further assumptions (Ben-David et al., 2010; Lipton et al., 2018).
                        Two vital questions that remain are: (i) the precise conditions under which we can estimate a classifier's target-domain accuracy; and (ii) which methods are most practically useful. To begin, the straightforward way to assess the performance of a model under distribution shift would be to collect labeled (target domain) examples and then to evaluate the model on that data. However, collecting fresh labeled data from the target distribution is prohibitively expensive and time-consuming, especially if the target distribution is non-stationary. Hence, instead of using labeled data, we aim to use unlabeled data from the target distribution, that is comparatively abundant, to predict model performance. Note that in this work, our focus is not to improve performance on the target but, rather, to estimate the accuracy on the target for a given classifier.
                        [^0]: Work done in part while Saurabh Garg was interning at Google ${ }^{1}$ Code is available at [https://github.com/saurabhgarg1996/ATC_code](https://github.com/saurabhgarg1996/ATC_code).
                      images: []
                      dimensions:
                        dpi: 200
                        height: 2200
                        width: 1700
                    - index: 2
                      markdown: |
                        ![img-0.jpeg](img-0.jpeg)
                        Figure 1: Illustration of our proposed method ATC. Left: using source domain validation data, we identify a threshold on a score (e.g. negative entropy) computed on model confidence such that fraction of examples above the threshold matches the validation set accuracy. ATC estimates accuracy on unlabeled target data as the fraction of examples with the score above the threshold. Interestingly, this threshold yields accurate estimates on a wide set of target distributions resulting from natural and synthetic shifts. Right: Efficacy of ATC over previously proposed approaches on our testbed with a post-hoc calibrated model. To obtain errors on the same scale, we rescale all errors with Average Confidence (AC) error. Lower estimation error is better. See Table 1 for exact numbers and comparison on various types of distribution shift. See Sec. 5 for details on our testbed.
                        Recently, numerous methods have been proposed for this purpose (Deng & Zheng, 2021; Chen et al., 2021b; Jiang et al., 2021; Deng et al., 2021; Guillory et al., 2021). These methods either require calibration on the target domain to yield consistent estimates (Jiang et al., 2021; Guillory et al., 2021) or additional labeled data from several target domains to learn a linear regression function on a distributional distance that then predicts model performance (Deng et al., 2021; Deng & Zheng, 2021; Guillory et al., 2021). However, methods that require calibration on the target domain typically yield poor estimates since deep models trained and calibrated on source data are not, in general, calibrated on a (previously unseen) target domain (Ovadia et al., 2019). Besides, methods that leverage labeled data from target domains rely on the fact that unseen target domains exhibit strong linear correlation with seen target domains on the underlying distance measure and, hence, can be rendered ineffective when such target domains with labeled data are unavailable (in Sec. 5.1 we demonstrate such a failure on a real-world distribution shift problem). Therefore, throughout the paper, we assume access to labeled source data and only unlabeled data from target domain(s).
                        In this work, we first show that absent assumptions on the source classifier or the nature of the shift, no method of estimating accuracy will work generally (even in non-contrived settings). To estimate accuracy on target domain perfectly, we highlight that even given perfect knowledge of the labeled source distribution (i.e., $p_{s}(x, y)$ ) and unlabeled target distribution (i.e., $p_{t}(x)$ ), we need restrictions on the nature of the shift such that we can uniquely identify the target conditional $p_{t}(y \mid x)$. Thus, in general, identifying the accuracy of the classifier is as hard as identifying the optimal predictor.
                        Second, motivated by the superiority of methods that use maximum softmax probability (or logit) of a model for Out-Of-Distribution (OOD) detection (Hendrycks & Gimpel, 2016; Hendrycks et al., 2019), we propose a simple method that leverages softmax probability to predict model performance. Our method, Average Thresholded Confidence (ATC), learns a threshold on a score (e.g., maximum confidence or negative entropy) of model confidence on validation source data and predicts target domain accuracy as the fraction of unlabeled target points that receive a score above that threshold. ATC selects a threshold on validation source data such that the fraction of source examples that receive the score above the threshold match the accuracy of those examples. Our primary contribution in ATC is the proposal of obtaining the threshold and observing its efficacy on (practical) accuracy estimation. Importantly, our work takes a step forward in positively answering the question raised in Deng & Zheng (2021); Deng et al. (2021) about a practical strategy to select a threshold that enables accuracy prediction with thresholded model confidence.
                      images:
                      - id: img-0.jpeg
                        top_left_x: 292
                        top_left_y: 217
                        bottom_right_x: 1405
                        bottom_right_y: 649
                        image_base64: '...'
                      dimensions:
                        dpi: 200
                        height: 2200
                        width: 1700
                    - index: 3
                      markdown: '...'
                      images: []
                      dimensions: {}
                    - index: 27
                      markdown: |
                        ![img-8.jpeg](img-8.jpeg)
                        Figure 9: Scatter plot of predicted accuracy versus (true) OOD accuracy for vision datasets except MNIST with a ResNet50 model. Results reported by aggregating MAE numbers over 4 different seeds.
                      images:
                      - id: img-8.jpeg
                        top_left_x: 290
                        top_left_y: 226
                        bottom_right_x: 1405
                        bottom_right_y: 1834
                        image_base64: '...'
                      dimensions:
                        dpi: 200
                        height: 2200
                        width: 1700
                    - index: 28
                      markdown: |
                        | Dataset | Shift | IM |  | AC |  | DOC |  | GDE | ATC-MC (Ours) |  | ATC-NE (Ours) |  | | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | |  |  | Pre T | Post T | Pre T | Post T | Pre T | Post T | Post T | Pre T | Post T | Pre T | Post T | | CIFAR10 | Natural | 6.60 | 5.74 | 9.88 | 6.89 | 7.25 | 6.07 | 4.77 | 3.21 | 3.02 | 2.99 | 2.85 | |  |  | (0.35) | (0.30) | (0.16) | (0.13) | (0.15) | (0.16) | (0.13) | (0.49) | (0.40) | (0.37) | (0.29) | |  | Synthetic | 12.33 | 10.20 | 16.50 | 11.91 | 13.87 | 11.08 | 6.55 | 4.65 | 4.25 | 4.21 | 3.87 | |  |  | (0.51) | (0.48) | (0.26) | (0.17) | (0.18) | (0.17) | (0.35) | (0.55) | (0.55) | (0.55) | (0.75) | | CIFAR100 | Synthetic | 13.69 | 11.51 | 23.61 | 13.10 | 14.60 | 10.14 | 9.85 | 5.50 | 4.75 | 4.72 | 4.94 | |  |  | (0.55) | (0.41) | (1.16) | (0.80) | (0.77) | (0.64) | (0.57) | (0.70) | (0.73) | (0.74) | (0.74) | | ImageNet200 | Natural | 12.37 | 8.19 | 22.07 | 8.61 | 15.17 | 7.81 | 5.13 | 4.37 | 2.04 | 3.79 | 1.45 | |  |  | (0.25) | (0.33) | (0.08) | (0.25) | (0.11) | (0.29) | (0.08) | (0.39) | (0.24) | (0.30) | (0.27) | |  | Synthetic | 19.86 | 12.94 | 32.44 | 13.35 | 25.02 | 12.38 | 5.41 | 5.93 | 3.09 | 5.00 | 2.68 | |  |  | (1.38) | (1.81) | (1.00) | (1.30) | (1.10) | (1.38) | (0.89) | (1.38) | (0.87) | (1.28) | (0.45) | | ImageNet | Natural | 7.77 | 6.50 | 18.13 | 6.02 | 8.13 | 5.76 | 6.23 | 3.88 | 2.17 | 2.06 | 0.80 | |  |  | (0.27) | (0.33) | (0.23) | (0.34) | (0.27) | (0.37) | (0.41) | (0.53) | (0.62) | (0.54) | (0.44) | |  | Synthetic | 13.39 | 10.12 | 24.62 | 8.51 | 13.55 | 7.90 | 6.32 | 3.34 | 2.53 | 2.61 | 4.89 | |  |  | (0.53) | (0.63) | (0.64) | (0.71) | (0.61) | (0.72) | (0.33) | (0.53) | (0.36) | (0.33) | (0.83) | | FMoW-WILDS | Natural | 5.53 | 4.31 | 33.53 | 12.84 | 5.94 | 4.45 | 5.74 | 3.06 | 2.70 | 3.02 | 2.72 | |  |  | (0.33) | (0.63) | (0.13) | (12.06) | (0.36) | (0.77) | (0.55) | (0.36) | (0.54) | (0.35) | (0.44) | | RxRx1-WILDS | Natural | 5.80 | 5.72 | 7.90 | 4.84 | 5.98 | 5.98 | 6.03 | 4.66 | 4.56 | 4.41 | 4.47 | |  |  | (0.17) | (0.15) | (0.24) | (0.09) | (0.15) | (0.13) | (0.08) | (0.38) | (0.38) | (0.31) | (0.26) | | Amazon-WILDS | Natural | 2.40 | 2.29 | 8.01 | 2.38 | 2.40 | 2.28 | 17.87 | 1.65 | 1.62 | 1.60 | 1.59 | |  |  | (0.08) | (0.09) | (0.53) | (0.17) | (0.09) | (0.09) | (0.18) | (0.06) | (0.05) | (0.14) | (0.15) | | CivilCom.-WILDS | Natural | 12.64 | 10.80 | 16.76 | 11.03 | 13.31 | 10.99 | 16.65 |  | 7.14 |  |  | |  |  | (0.52) | (0.48) | (0.53) | (0.49) | (0.52) | (0.49) | (0.25) |  | (0.41) |  |  | | MNIST | Natural | 18.48 | 15.99 | 21.17 | 14.81 | 20.19 | 14.56 | 24.42 | 5.02 | 2.40 | 3.14 | 3.50 | |  |  | (0.45) | (1.53) | (0.24) | (3.89) | (0.23) | (3.47) | (0.41) | (0.44) | (1.83) | (0.49) | (0.17) | | ENTITY-13 | Same | 16.23 | 11.14 | 24.97 | 10.88 | 19.08 | 10.47 | 10.71 | 5.39 | 3.88 | 4.58 | 4.19 | |  |  | (0.77) | (0.65) | (0.70) | (0.77) | (0.65) | (0.72) | (0.74) | (0.92) | (0.61) | (0.85) | (0.16) | |  | Novel | 28.53 | 22.02 | 38.33 | 21.64 | 32.43 | 21.22 | 20.61 | 13.58 | 10.28 | 12.25 | 6.63 | |  |  | (0.82) | (0.68) | (0.75) | (0.86) | (0.69) | (0.80) | (0.60) | (1.15) | (1.34) | (1.21) | (0.93) | | ENTITY-30 | Same | 18.59 | 14.46 | 28.82 | 14.30 | 21.63 | 13.46 | 12.92 | 9.12 | 7.75 | 8.15 | 7.64 | |  |  | (0.51) | (0.52) | (0.43) | (0.71) | (0.37) | (0.59) | (0.14) | (0.62) | (0.72) | (0.68) | (0.88) | |  | Novel | 32.34 | 26.85 | 44.02 | 26.27 | 36.82 | 25.42 | 23.16 | 17.75 | 14.30 | 15.60 | 10.57 | |  |  | (0.60) | (0.58) | (0.56) | (0.79) | (0.47) | (0.68) | (0.12) | (0.76) | (0.85) | (0.86) | (0.86) | | NONLIVING-26 | Same | 18.66 | 17.17 | 26.39 | 16.14 | 19.86 | 15.58 | 16.63 | 10.87 | 10.24 | 10.07 | 10.26 | |  |  | (0.76) | (0.74) | (0.82) | (0.81) | (0.67) | (0.76) | (0.45) | (0.98) | (0.83) | (0.92) | (1.18) | |  | Novel | 33.43 | 31.53 | 41.66 | 29.87 | 35.13 | 29.31 | 29.56 | 21.70 | 20.12 | 19.08 | 18.26 | |  |  | (0.67) | (0.65) | (0.67) | (0.71) | (0.54) | (0.64) | (0.21) | (0.86) | (0.75) | (0.82) | (1.12) | | LIVING-17 | Same | 12.63 | 11.05 | 18.32 | 10.46 | 14.43 | 10.14 | 9.87 | 4.57 | 3.95 | 3.81 | 4.21 | |  |  | (1.25) | (1.20) | (1.01) | (1.12) | (1.11) | (1.16) | (0.61) | (0.71) | (0.48) | (0.22) | (0.53) | |  | Novel | 29.03 | 26.96 | 35.67 | 26.11 | 31.73 | 25.73 | 23.53 | 16.15 | 14.49 | 12.97 | 11.39 | |  |  | (1.44) | (1.38) | (1.09) | (1.27) | (1.19) | (1.35) | (0.52) | (1.36) | (1.46) | (1.52) | (1.72) |
                        Table 3: Mean Absolute estimation Error (MAE) results for different datasets in our setup grouped by the nature of shift. 'Same' refers to same subpopulation shifts and 'Novel' refers novel subpopulation shifts. We include details about the target sets considered in each shift in Table 2. Post T denotes use of TS calibration on source. For language datasets, we use DistilBERT-base-uncased, for vision dataset we report results with DenseNet model with the exception of MNIST where we use FCN. Across all datasets, we observe that ATC achieves superior performance (lower MAE is better). For GDE post T and pre T estimates match since TS doesn't alter the argmax prediction. Results reported by aggregating MAE numbers over 4 different seeds. Values in parenthesis (i.e., $(\cdot)$ ) denote standard deviation values.
                      images: []
                      dimensions:
                        dpi: 200
                        height: 2200
                        width: 1700
                    - index: 29
                      markdown: |
                        | Dataset | Shift | IM |  | AC |  | DOC |  | GDE | ATC-MC (Ours) |  | ATC-NE (Ours) |  | | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | |  |  | Pre T | Post T | Pre T | Post T | Pre T | Post T | Post T | Pre T | Post T | Pre T | Post T | | CIFAR10 | Natural | 7.14 | 6.20 | 10.25 | 7.06 | 7.68 | 6.35 | 5.74 | 4.02 | 3.85 | 3.76 | 3.38 | |  |  | (0.14) | (0.11) | (0.31) | (0.33) | (0.28) | (0.27) | (0.25) | (0.38) | (0.30) | (0.33) | (0.32) | |  | Synthetic | 12.62 | 10.75 | 16.50 | 11.91 | 13.93 | 11.20 | 7.97 | 5.66 | 5.03 | 4.87 | 3.63 | |  |  | (0.76) | (0.71) | (0.28) | (0.24) | (0.29) | (0.28) | (0.13) | (0.64) | (0.71) | (0.71) | (0.62) | | CIFAR100 | Synthetic | 12.77 | 12.34 | 16.89 | 12.73 | 11.18 | 9.63 | 12.00 | 5.61 | 5.55 | 5.65 | 5.76 | |  |  | (0.43) | (0.68) | (0.20) | (2.59) | (0.35) | (1.25) | (0.48) | (0.51) | (0.55) | (0.35) | (0.27) | | ImageNet200 | Natural | 12.63 | 7.99 | 23.08 | 7.22 | 15.40 | 6.33 | 5.00 | 4.60 | 1.80 | 4.06 | 1.38 | |  |  | (0.59) | (0.47) | (0.31) | (0.22) | (0.42) | (0.24) | (0.36) | (0.63) | (0.17) | (0.69) | (0.29) | |  | Synthetic | 20.17 | 11.74 | 33.69 | 9.51 | 25.49 | 8.61 | 4.19 | 5.37 | 2.78 | 4.53 | 3.58 | |  |  | (0.74) | (0.80) | (0.73) | (0.51) | (0.66) | (0.50) | (0.14) | (0.88) | (0.23) | (0.79) | (0.33) | | ImageNet | Natural | 8.09 | 6.42 | 21.66 | 5.91 | 8.53 | 5.21 | 5.90 | 3.93 | 1.89 | 2.45 | 0.73 | |  |  | (0.25) | (0.28) | (0.38) | (0.22) | (0.26) | (0.25) | (0.44) | (0.26) | (0.21) | (0.16) | (0.10) | |  | Synthetic | 13.93 | 9.90 | 28.05 | 7.56 | 13.82 | 6.19 | 6.70 | 3.33 | 2.55 | 2.12 | 5.06 | |  |  | (0.14) | (0.23) | (0.39) | (0.13) | (0.31) | (0.07) | (0.52) | (0.25) | (0.25) | (0.31) | (0.27) | | FMoW-WILDS | Natural | 5.15 | 3.55 | 34.64 | 5.03 | 5.58 | 3.46 | 5.08 | 2.59 | 2.33 | 2.52 | 2.22 | |  |  | (0.19) | (0.41) | (0.22) | (0.29) | (0.17) | (0.37) | (0.46) | (0.32) | (0.28) | (0.25) | (0.30) | | RxRx1-WILDS | Natural | 6.17 | 6.11 | 21.05 | 5.21 | 6.54 | 6.27 | 6.82 | 5.30 | 5.20 | 5.19 | 5.63 | |  |  | (0.20) | (0.24) | (0.31) | (0.18) | (0.21) | (0.20) | (0.31) | (0.30) | (0.44) | (0.43) | (0.55) | | Entity-13 | Same | 18.32 | 14.38 | 27.79 | 13.56 | 20.50 | 13.22 | 16.09 | 9.35 | 7.50 | 7.80 | 6.94 | |  |  | (0.29) | (0.53) | (1.18) | (0.58) | (0.47) | (0.58) | (0.84) | (0.79) | (0.65) | (0.62) | (0.71) | |  | Novel | 28.82 | 24.03 | 38.97 | 22.96 | 31.66 | 22.61 | 25.26 | 17.11 | 13.96 | 14.75 | 9.94 | |  |  | (0.30) | (0.55) | (1.32) | (0.59) | (0.54) | (0.58) | (1.08) | (0.93) | (0.64) | (0.78) |  | | Entity-30 | Same | 16.91 | 14.61 | 26.84 | 14.37 | 18.60 | 13.11 | 13.74 | 8.54 | 7.94 | 7.77 | 8.04 | |  |  | (1.33) | (1.11) | (2.15) | (1.34) | (1.69) | (1.30) | (1.07) | (1.47) | (1.38) | (1.44) | (1.51) | |  | Novel | 28.66 | 25.83 | 39.21 | 25.03 | 30.95 | 23.73 | 23.15 | 15.57 | 13.24 | 12.44 | 11.05 | |  |  | (1.16) | (0.88) | (2.03) | (1.11) | (1.64) | (1.11) | (0.51) | (1.44) | (1.15) | (1.26) | (1.13) | | NonLIVING-26 | Same | 17.43 | 15.95 | 27.70 | 15.40 | 18.06 | 14.58 | 16.99 | 10.79 | 10.13 | 10.05 | 10.29 | |  |  | (0.90) | (0.86) | (0.90) | (0.69) | (1.00) | (0.78) | (1.25) | (0.62) | (0.32) | (0.46) | (0.79) | |  | Novel | 29.51 | 27.75 | 40.02 | 26.77 | 30.36 | 25.93 | 27.70 | 19.64 | 17.75 | 16.90 | 15.69 | |  |  | (0.86) | (0.82) | (0.76) | (0.82) | (0.95) | (0.80) | (1.42) | (0.68) | (0.53) | (0.60) | (0.83) | | LIVING-17 | Same | 14.28 | 12.21 | 23.46 | 11.16 | 15.22 | 10.78 | 10.49 | 4.92 | 4.23 | 4.19 | 4.73 | |  |  | (0.96) | (0.93) | (1.16) | (0.90) | (0.96) | (0.99) | (0.97) | (0.57) | (0.42) | (0.35) | (0.24) | |  | Novel | 28.91 | 26.35 | 38.62 | 24.91 | 30.32 | 24.52 | 22.49 | 15.42 | 13.02 | 12.29 | 10.34 | |  |  | (0.66) | (0.73) | (1.01) | (0.61) | (0.59) | (0.74) | (0.85) | (0.59) | (0.53) | (0.73) | (0.62) |
                        Table 4: Mean Absolute estimation Error (MAE) results for different datasets in our setup grouped by the nature of shift for ResNet model. 'Same' refers to same subpopulation shifts and 'Novel' refers novel subpopulation shifts. We include details about the target sets considered in each shift in Table 2. Post T denotes use of TS calibration on source. Across all datasets, we observe that ATC achieves superior performance (lower MAE is better). For GDE post T and pre T estimates match since TS doesn't alter the argmax prediction. Results reported by aggregating MAE numbers over 4 different seeds. Values in parenthesis (i.e., $(\cdot)$ ) denote standard deviation values.
                      images: []
                      dimensions:
                        dpi: 200
                        height: 2200
                        width: 1700
                    model: mistral-ocr-2503-completion
                    usage_info:
                      pages_processed: 29
                      doc_size_bytes: null
              schema:
                $ref: "#/components/schemas/OCRResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: OCR
      tags:
      - ocr
  /v1/classifications:
    post:
      operationId: classifications_v1_classifications_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClassificationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassificationResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Classifications
      tags:
      - classifiers
  /v1/chat/classifications:
    post:
      operationId: chat_classifications_v1_chat_classifications_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatClassificationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassificationResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Chat Classifications
      tags:
      - classifiers
  /v1/audio/transcriptions:
    post:
      operationId: audio_api_v1_transcriptions_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AudioTranscriptionRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                userExample:
                  value:
                    model: voxtral-mini-2507
                    text: |
                      This week, I traveled to Chicago to deliver my final farewell address to the nation, following in the tradition of presidents before me. It was an opportunity to say thank you. Whether we've seen eye to eye or rarely agreed at all, my conversations with you, the American people, in living rooms, in schools, at farms and on factory floors, at diners and on distant military outposts, All these conversations are what have kept me honest, kept me inspired, and kept me going. Every day, I learned from you. You made me a better President, and you made me a better man.
                      Over the course of these eight years, I've seen the goodness, the resilience, and the hope of the American people. I've seen neighbors looking out for each other as we rescued our economy from the worst crisis of our lifetimes. I've hugged cancer survivors who finally know the security of affordable health care. I've seen communities like Joplin rebuild from disaster, and cities like Boston show the world that no terrorist will ever break the American spirit. I've seen the hopeful faces of young graduates and our newest military officers. I've mourned with grieving families searching for answers. And I found grace in a Charleston church. I've seen our scientists help a paralyzed man regain his sense of touch, and our wounded warriors walk again. I've seen our doctors and volunteers rebuild after earthquakes and stop pandemics in their tracks. I've learned from students who are building robots and curing diseases, and who will change the world in ways we can't even imagine. I've seen the youngest of children remind us of our obligations to care for our refugees, to work in peace, and above all, to look out for each other.
                      That's what's possible when we come together in the slow, hard, sometimes frustrating, but always vital work of self-government. But we can't take our democracy for granted. All of us, regardless of party, should throw ourselves into the work of citizenship. Not just when there is an election. Not just when our own narrow interest is at stake. But over the full span of a lifetime. If you're tired of arguing with strangers on the Internet, try to talk with one in real life. If something needs fixing, lace up your shoes and do some organizing. If you're disappointed by your elected officials, then grab a clipboard, get some signatures, and run for office yourself.
                      Our success depends on our participation, regardless of which way the pendulum of power swings. It falls on each of us to be guardians of our democracy, to embrace the joyous task we've been given to continually try to improve this great nation of ours. Because for all our outward differences, we all share the same proud title – citizen.
                      It has been the honor of my life to serve you as President. Eight years later, I am even more optimistic about our country's promise. And I look forward to working along your side as a citizen for all my days that remain.
                      Thanks, everybody. God bless you. And God bless the United States of America.
                    language: en
                    segments: []
                    usage:
                      prompt_audio_seconds: 203
                      prompt_tokens: 4
                      total_tokens: 3264
                      completion_tokens: 635
              schema:
                $ref: "#/components/schemas/TranscriptionResponse"
          description: Successful Response
      summary: Create Transcription
      tags:
      - audio.transcriptions
  /v1/audio/transcriptions#stream:
    post:
      operationId: audio_api_v1_transcriptions_post_stream
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AudioTranscriptionRequestStream"
        required: true
      responses:
        "200":
          content:
            text/event-stream:
              schema:
[...]
